/* CSS for Ye Heon Shin's Portfolio */

/************************************************************************************************/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
	font-family: 'Roboto', sans-serif;
}

#logo {
	font-family: 'Permanent Marker', cursive;
}

/************************************************************************************************/

/* Body */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

#container {
	transform: translateY(100vh);
}

/* Logo */

#logo {
	border: solid 5px black;
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: 50px;
	margin-top: 50px;
	float: left;	
}

/* Text */

#intro {
	font-size: 4em;
	margin-left: 50px;
	margin-top: 200px;
	clear: both;
	width: 90%;
}

#about {
	position: relative;
	top: 60px;
	font-size: 1.5em;
	left: 80%;
	text-decoration: none;
}

.light {
	color: #dedede;
}

#about-title {
	clear: both;
	margin-left: 50px;
	padding-top: 75px;
	font-size: 2.2em;
	margin-left: 15%;
	width: 70%;
}

#about-text {
	margin-left: 50px;
	font-size: 1.2em;
	margin-right: 50px;
	margin-left: 15%;
	width: 70%;
	line-height: 40px;
}

#resume-text {
	margin-left: 50px;
	font-size: 1.2em;
	margin-left: 15%;
}

h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 2.2em;
	margin-left: 15%;	
}

.text {
	font-size: 1.2em;
	width: 70%;
	margin-left: 15%;
	clear: both;
	line-height: 40px;
}

/* Work Titles */

#jot-it-title, #radius-title, #breathe-title {
	clear: both;
	margin-left: 50px;
	padding-top: 50px;
	margin-left: 15%;
}

/* Work */

.links {
	display: inline-block;
	margin-left: 50px;
	font-size: 3em;	
	margin-bottom: 50px;
}

.dotw {
	margin-bottom: 80px;
}

/* Images */

img {
	margin: 50px;
	width: 90%;
	height: auto;
	margin-left: 5%;
}

.jot-it-after, .radius-single, .breathe-single {
	width: 10%;
	height: auto;
	float: left;
	margin-left: 10%;
}

/* Video */

#breathe-video {
	width: 20%;
	height: auto;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Links */

a:not(.home-link) {
	color: #73d1a4;
	text-decoration: none;
}

#about, .home-link {
	color: black;
	text-decoration: none;
}

#email, .sm-links {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;	
	margin-bottom: 100px;
	font-size: 1.5em;
}

.home-link {
	display: inline-block;
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 100px;
}

/* Animation | CSS */

a, #about, .home-link {
	transition: color 0.1s;
}

a:not(.home-link):hover {
	color: #99fbcc;
}

#about:hover, .home-link:hover {
	color: #dedede;
}

/* Animation | JavaScript */

.slideUp {
	animation-name: slideUp;
	animation-duration: 1.5s;	
	animation-delay: 0.5s;	
	animation-fill-mode: forwards;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}


/************************************************************************************************/

/* Mobile | Portrait */

@media only screen and (max-width: 375px) {

	#logo {
		margin-left: 20px;
		margin-top: 20px;
	}

	#intro {
		font-size: 2em;
		margin-left: 20px;
		margin-top: 100px;
		width: 90%;
	}

	#about {
		top: 45px;
		font-size: 1.2em;
		left: 60%;
	}

	#about-title {
		margin-left: 20px;
		padding-top: 50px;
		font-size: 1.8em;
	}

	#about-text {
		margin-left: 20px;
		font-size: 1.2em;
		margin-right: 20px;
		line-height: 40px;
		width: 90%;
	}

	#resume-text {
		margin-left: 20px;
		font-size: 1.2em;
	}

	.home-link {
		margin-left: 20px;
		padding-top: 40px;
		padding-bottom: 75px;
	}

	.links {
		margin-left: 20px;
		font-size: 1.7em;	
		margin-bottom: 40px;
		margin-right: 20px;
	}

	.dotw {
		margin-bottom: 50px;
	}

	#email, .sm-links {
		margin-left: 20px;
		margin-right: 100px;	
		margin-bottom: 25px;
		font-size: 1.7em;
	}

	.instagram {
		margin-bottom: 50px;
	}

	#jot-it-title, #radius-title, #breathe-title {
		clear: both;
		margin-left: 20px;
		padding-top: 50px;
	}

	.text, h2 {
		margin-left: 20px;
		clear: both;
	}

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.8em;	
	}

	.text {
		font-size: 1.2em;
		width: 90%;
		margin-right: 20px;
		line-height: 40px;
	}

	img {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
	}
  
}

/* Mobile | Landscape */

@media only screen and (min-width: 376px) and (max-width: 667px) {

	#logo {
		margin-left: 20px;
		margin-top: 20px;
	}

	#intro {
		font-size: 2em;
		margin-left: 20px;
		margin-top: 100px;
		width: 90%;
	}

	#about {
		top: 45px;
		font-size: 1.2em;
		left: 70%;
	}

	#about-title {
		margin-left: 20px;
		padding-top: 50px;
		font-size: 1.8em;
		width: 100%;
	}

	#about-text {
		margin-left: 20px;
		font-size: 1.3em;
		margin-right: 20px;
		line-height: 40px;
		width: 90%;
	}

	#resume-text {
		margin-left: 20px;
		font-size: 1.5em;
	}

	.home-link {
		margin-left: 20px;
		padding-top: 40px;
		padding-bottom: 75px;
	}

	.links {
		margin-left: 20px;
		font-size: 1.5em;	
		margin-bottom: 40px;
		margin-right: 20px;
	}

	.dotw {
		margin-bottom: 50px;
	}

	#email, .sm-links {
		margin-left: 20px;
		margin-right: 50px;	
		margin-bottom: 25px;
		font-size: 1.7em;
	}

	.instagram {
		margin-bottom: 50px;
	}

	#jot-it-title, #radius-title, #breathe-title {
		clear: both;
		margin-left: 20px;
		padding-top: 50px;
	}

	.text, h2 {
		margin-left: 20px;
		clear: both;
	}

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.8em;	
	}

	.text {
		font-size: 1.2em;
		width: 90%;
		margin-right: 20px;
		line-height: 40px;
	}

	img {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
	}  

}

