/* CSS for Ye Heon Shin's Portfolio */

/************************************************************************************************/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Catamaran:900');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Inconsolata', monospace;
}

p.landingText, .aboutHead, .workHead, .contactHead {
  font-family: 'Catamaran', sans-serif;
}

/************************************************************************************************/

/* Body */

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: auto;
}

/* Text Backgrounds */

.section {
  margin: 0;
  padding: 0;
}

.landingBg {
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
}

.aboutBg {
  background: #f6a25f;
  color: white;
  height: 520px;
}

.workBg {
  background: #3ec6e3;
  color: white;
  height: 670px;
  margin-top: -50px;
}

.contactBg {
  background: #ed3c3c;
  color: white;
  height: 500px;
  margin-top: -50px;
  margin-bottom: -70px;
  position: relative;
}

/* Text */

.text {
  font-size: 1.7em;
  opacity: 0;
}

p.landingText {
  text-transform: uppercase;
  font-size: 4.5em;
  line-height: 100%;
  margin-left: 5%;
  margin-top: 1%;
}

.gradName {
  background: -webkit-linear-gradient(left, #1e49e9, #1fd5fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradDesign {
  background: -webkit-linear-gradient(left, #ec1818, #f3f525);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradCreates {
  background: -webkit-linear-gradient(left, #0bd8af, #1aed38);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradSolves {
  background: -webkit-linear-gradient(left, #ff8401, #ff2d63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutHead, .workHead, .contactHead {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 50px;
  font-size: 3em;
}

.aboutText, .workText, .contactText {
  width: 70%;
  margin-left: 15%;
}

/* Links */

a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  transition: color 0.3s, border-bottom 0.3s;
}

.hovered {
  color: #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  transition: color 0.3s, border-bottom 0.3s;
}

/* Animations */

@keyframes flipInX {
  from {
    transform: perspective(1400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(1400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(1400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(1400px) rotate3d(1, 0, 0, -5deg);
    opacity: 1;
  }

  to {
    transform: perspective(1400px);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Social Media Links */

/*#sm-links {
  z-index: -10;
  width: 400px;
  height: 70px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

#sm-links .icon {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 30px;
}*/

/*@keyframes iconBounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

.facebook div {
  background: url('../images/fb-icon-black.png') no-repeat;
  background-size: 50px 50px;
}

.facebook div:hover {
  background: url('../images/fb-icon-color.png') no-repeat;
  background-size: 50px 50px;
  animation-name: iconBounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.instagram div {
  background: url('../images/insta-icon-black.png') no-repeat;
  background-size: 50px 50px;
}

.instagram div:hover {
  background: url('../images/insta-icon-color.png') no-repeat;
  background-size: 50px 50px;
  animation-name: iconBounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.linkedin div {
  background: url('../images/linkedin-icon-black.png') no-repeat;
  background-size: 50px 50px;
}

.linkedin div:hover {
  background: url('../images/linkedin-icon-color.png') no-repeat;
  background-size: 50px 50px;
  animation-name: iconBounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.github div {
  background: url('../images/github-icon-black.png') no-repeat;
  background-size: 50px 50px;
}

.github div:hover {
  background: url('../images/github-icon-color.png') no-repeat;
  background-size: 50px 50px;
  animation-name: iconBounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}*/

/************************************************************************************************/

/* Mobile | Portrait */

@media only screen and (max-width: 375px) {

  /* Text */

  p.landingText {
    font-size: 3em;
    line-height: 80%;
    margin-top: 20px;
  }    

  .aboutHead, .workHead, .contactHead {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;
  }

  .aboutText, .workText, .contactText {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3em;
  }

  /* Text Backgrounds */

  .landingBg {
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .aboutBg {
    background: #f6a25f;
    color: white;
    height: 490px;
  }

  .workBg {
    background: #3ec6e3;
    color: white;
    height: 690px;
    margin-top: -50px;
  }

  .contactBg {
    background: #ed3c3c;
    color: white;
    height: 350px;
    margin-top: -50px;
    margin-bottom: -70px;
  }

}

/************************************************************************************************/

/* Mobile | Landscape */

@media only screen and (min-width: 376px) and (max-width: 667px) {

  /* Text */

  p.landingText {
    font-size: 3em;
    line-height: 80%;
    margin-left: 3%;
    margin-top: 20px;
  }    

  .aboutHead, .workHead, .contactHead {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;
  }

  .aboutText, .workText, .contactText {
    width: 80%;
    margin-left: 10%;
    font-size: 1.4em;
  }

  /* Text Backgrounds */

  .landingBg {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .aboutBg {
    height: 410px;
  }

  .workBg {
    height: 550px;
    margin-top: -50px;
  }

  .contactBg {
    height: 340px;
    margin-top: -50px;
    margin-bottom: -70px;
  }

}

/************************************************************************************************/

/* Retina Screens and higher */

@media only screen and (min-width: 1500px) {

  /* Will Update */

}