/* CSS for Ye Heon Shin's Portfolio */

/************************************************************************************************/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:700');

h1 {
  font-family: 'PT Sans Caption', sans-serif;
}

h2, p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/************************************************************************************************/

/* Body */

body {
  margin: 0;
  padding: 0;
  background: white;
}

#container {
  margin-left: 5%;
  margin-right: 5%;
}

#container-work {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;  
}

#container-jot-it {
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0;
}

/* Text */

#title {
  font-size: 4em;
  margin-top: 100px;
}

#jot-it-title {
  margin-top: 200px;
}

h2 {
  font-size: 2em;
    margin-top: 50px;
  margin-bottom: 50px;
}

.text {
  line-height: 50px;
  font-size: 1.3em;
  clear: both;
}

.last-text {
  margin-bottom: 75px;
}

/* Links */

.links {
  font-size: 1.2em;
  clear: both;
  width: 20%;
  margin-right: 10%;
}

.page-link {
  position: fixed;
  font-size: 1em;
  text-decoration: none;
  clear: both;
  display: block;
  margin-bottom: 75px;
  top: 50px;
  left: 5%;
  opacity: 0;
}

.linkedin, .github, .facebook, .instagram {
  position: relative;
  top: 50px;
  margin-bottom: 100px;
  font-size: 1em;
}

/* Images */

#jot-it-before {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jot-it-after {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Animation */

a:not(.page-link) {
  color: black;
  transition: color 0.2s, border-bottom 0.2s;
  text-decoration: none;
  border-bottom: solid 1px black;
}

a:hover:not(.page-link) {
  color: #00bb8f;
  border-bottom: solid 1px #00bb8f;
  transition: color 0.2s, border-bottom 0.2s;
}

.page-link {
  transition: color 0.2s;
  color: black;
}

.page-link:hover {
  color: #00bb8f;
  transition: color 0.2s;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/************************************************************************************************/

/* Mobile | Portrait */

@media only screen and (max-width: 375px) {


}

/* Mobile | Landscape */

@media only screen and (min-width: 376px) and (max-width: 667px) {



}

