/* Universal */

/* Skeleton */

html, body, h1, h2, p, a, ul, ol, li, div, img {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

/* Logo */

a.logo {
	font-size: 2em;
	left: 5%;
	position: fixed;
	text-decoration: none;
	color: white;
	z-index: 1;
	transition: color 0.3s;
}

a.logo:hover {
	color: #efefef;
}

/* Hamburger Menu Btn */

.hamburger-btn {
	width: 30px;
	height: 25px;
	position: relative;
	left: 93%;
	cursor: pointer;
	z-index: 101;
	position: fixed;
}

.hamburger-btn-clicked {
	width: 30px;
	height: 25px;
	position: relative;
	top: 40px;
	left: 93%;
	cursor: pointer;
	position: fixed;
	z-index: 101;
}

.hamburger-btn-line {
	width: 25px;
	height: 3px;
	background-color: black;
	position: absolute;
	z-index: 3;
	transition: left 0.3s;
	background-color: white;
}

.hamburger-btn-line-top {
	top: 4px;
	left: 2px;
}

.hamburger-btn-line-bottom {
	top: 13px;
	left: 2px;
}

/* Nav Menu */

div.nav-menu {
	box-sizing: border-box;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0;
	top: 0px;
	left: 0px;
	z-index: 50;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
}

div.nav-menu-revealed {
	box-sizing: border-box;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 1;
	top: 0px;
	left: 0px;
	z-index: 51;
	visibility: visible;
	transition: opacity 0.3s, visibility 0.3s;
}

div.flex-nav {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 3.5vw;
    left: 0;
    right: 0;
    margin-top: 5%;
}

/* Nav Menu Bg Imgs */

img.nav-bg-img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(20%);
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-timing-function: cubic-bezier(.05,.9,.75,.98);
	/*animation-timing-function: cubic-bezier(.17,.67,1,1.23);*/
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1.1);
	}	

	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}

/* Nav Menu Items */

a.nav-item, a.nav-item-revealed {
	text-decoration: none;
	color: #E54B4B;
	font-size: 3em;
	text-align: center;
	display: block;
	opacity: 0;
	visibility: hidden;
	margin-top: 4%;
	width: 40%;
	margin-left: 30%;
}

a.nav-item-revealed {
	opacity: 1;
	visibility: visible;
	margin-top: 2%;
}

a.contact-link, a.contact-link-revealed {
	text-decoration: none;	
	color: #E54B4B;
	font-size: 1em;
	text-align: center;
	bottom: 3.5vw;
	margin-left: 2%;
	margin-right: 2%;
	display: block;
	opacity: 0;
	visibility: hidden;
	margin-top: 7%;
}

a.contact-link-revealed {
	opacity: 1;
	visibility: visible;
	margin-top: 5%;
}

/* Universal Animations */

a.logo {
	top: -100px;
	animation: appearLogo 1s 1s;
	animation-fill-mode: forwards;
}

@keyframes appearLogo {
	0% {
		top: -100px;
	}
	100% {
		top: 40px;
	}
}

.hamburger-btn {
	top: -100px;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearHamburger {
	0% {
		top: -100px
	}

	100% {
		top: 40px;
	}
}

.hamburger-btn-line-top {
	top: 4px;
	left: 2px;
}

.hamburger-btn-line-bottom {
	top: 13px;
	left: 2px;
}

.hamburger-btn-line-top, .hamburger-btn-line-bottom {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transition: transform 1s, top 1s;
}

@keyframes topClicked {

	0% {
		top: 4px;
	}

	50% {
		top: 8.5px;
		transform: rotate(0deg)
	}

	100% {
		top: 8.5px;
		transform: rotate(-45deg);
	}

}

@keyframes bottomClicked {

	0% {
		top: 15px;
	}

	50% {
		top: 8.5px;
		transform: rotate(0deg)
	}

	100% {
		top: 8.5px;
		transform: rotate(45deg);
	}

}

@keyframes topUnclicked {

	0% {
		top: 8.5px;
		transform: rotate(-45deg);
	}

	50% {
		top: 8.5px;
		transform: rotate(0deg);
	}

	100% {
		top: 4px;
	}

}

@keyframes bottomUnclicked {
	0% {
		top: 8.5px;
		transform: rotate(45deg);
	}

	50% {
		top: 8.5px;
		transform: rotate(0deg);
	}

	100% {
		top: 13px;
	}

}

@keyframes colorChange {
	0% {
		color: red;
	}

	50% {
		color: green;
	}

	100% {
		color: blue;
	}
}

/****************************************************************************************************************************************************************************/

/* Home Page */

/* Home Page | Skeleton */

body.home-body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/*box-sizing: border-box;*/
	/*border: solid 20px black;*/
	background-color: white;
	color: white;
	overflow: hidden;
}

/*body:after {
	content: "";
	width: calc(100vw - 40px);
	height: calc(100vh - 40px);
	background: black;
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	z-index: -1;
	border: solid 20px black;
	box-sizing: inherit;
}*/

div.project-frame {
	width: 80%;
	height: auto;
	margin-left: 10%;
	height: auto;
	position: relative;
}

div.project-a {
	margin-top: 500px;
}

div.project-thumbnails {
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

div.home-circle {
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: white;
	border-radius: 50%;
	top: 200px;
	left: 200px;
	opacity: 0.3;
}

div.home-title-frame {
	width: 0;
	height: 160px;
	z-index: -2;
}

/* Home Page | Text */

h1.home-title {
	text-align: center;
	font-size: 4em;
	overflow: hidden;
	height: auto;
	display: inline-block;
	width: 1000px;
	margin-left: 5%;
	margin-right: 50%;
}

div.project-frame p.thumbnail-caption-header, div.project-frame p.thumbnail-caption-subheader {
	position: absolute;
	left: 5%;
	top: 120px; /* 100 px */
	opacity: 0;
	transition: top 0.5s, opacity 0.5s;
	z-index: 11;
}

div.project-frame p.thumbnail-caption-header {
	font-size: 3em;
	top: 70px; /* 50 px */
}

div.project-frame p.thumbnail-caption-subheader {
	margin-top: 50px;
}

/* Home Page | Images */

img.thumbnail-imgs {
	width: 100%;
	height: auto;
	transition: filter 0.5s, transform 0.5s;
	/*transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
	/*transition-timing-function: cubic-bezier(.51,.92,.24,1.15);*/
	transition-timing-function: cubic-bezier(.18,.7,.52,.89);
}

div.project-a img.starbucks-thumbnail {
	margin-top: -100px;
}

div.project-b img.ui-thumbnail {
	background: #06beb6; 
	background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  
	background: linear-gradient(to right, #48b1bf, #06beb6); 
	margin-top: -100px;
}

/* Home Page | Animations */

div.home-title-frame {
	width: 0;
	margin-top: 150%;
	margin-left: 50%;
	animation: appearTitle 1.5s 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

@keyframes appearTitle {
	0% {
		width: 0;
		margin-top: 150%;
		border-left: solid 5px white;
		/*border-right: solid 5px white;*/
	}

	70% {
		width: 0;
		margin-top: 20%;
		margin-left: 50%;
		border-left: solid 5px white;
		/*border-right: solid 10px white;*/
	}
	100% {
		margin-top: 20%;
		width: 90%;
		margin-left: 10%;
		margin-right: 10%;
		border-left: solid 5px white;
		/*border-right: solid 10px white;*/
	}

}

div.home-circle {
	transform: scale(0);
	animation: appearCircle 2s 1s;
	animation-fill-mode: forwards;
}

@keyframes appearCircle {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/****************************************************************************************************************************************************************************/

/* About Page */

/* About | Text */

h1.about-header {
	position: relative;
	top: 275px; /* 225px */
	font-size: 73.302px;
	left: 5%;
	margin-right: 5%;
}

p.about-subheader {
	/*margin-left: 5%;*/
	text-align: center;
	font-size: 45.304px;
	margin-bottom: 50px;
	margin-top: 50px;
}

p.about-text {
	font-size: 18px;
	line-height: 36px;
	margin-left: 5%;
	margin-top: 100px;
	margin-right: 5%;
}

body.about-body p.text-a {
	margin-top: 325px; /* 275px */
}

body.about-body p.text-f {
	/*margin-left: 0;*/
	text-align: center;
}

body.about-body p.text-g {
	/*margin-left: 0;*/
	text-align: center;
	padding-top: 100px;
	margin-bottom: 200px;
	font-size: 36px;
}

h1.about-header, p.about-text, img.netflix-me {
	transition: top 0.5s, margin-top 0.5s, opacity 0.5s;
	opacity: 0;
}

p.always-credit-the-artist-when-you-can {
	margin-left: 20%;
	margin-top: -50px;
}

p.always-credit-the-artist-when-you-can > a {
	color: #E54B4B;
	text-decoration: none;
	transition: color 0.3s;
}

p.always-credit-the-artist-when-you-can > a:hover {
	color: black;
}

/* About | Links */

a.my-email {
	color: #E54B4B;
	text-decoration: none;
	transition: color 0.3s;
}

a.my-email:hover {
	color: black;
}

/* About | Images */

img.netflix-me {
	width: 100%;
	height: auto;
	margin-top: 100px; /* 50px */
}

img.good-boy {
	width: 60%;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 50px;
	margin-top: 50px;
}

/* About | Animations */

/****************************************************************************************************************************************************************************/

/* Starbucks Page  */

/* Starbucks | Skeleton */

div.starbucks-wrapper {
	padding-top: 75px;
	padding-bottom: 75px;
	float: left;
}

div.starbucks-first-wrapper {
	width: 100%;
}

div.starbucks-second-wrapper {
	margin-top: -100px;
	background-color: white;
}

div.starbucks-third-wrapper {
	background-color: #F9F7E8;
}

div.starbucks-fourth-wrapper {
	background-color: #D1E9E3;
}

div.starbucks-fifth-wrapper {
	margin-top: -75px;	
}

div.starbucks-sixth-wrapper {
	margin-top: -81px;
	background-color: #f9f9f9;
}

div.starbucks-seventh-wrapper {
	background-color: #E88565;
}

div.starbucks-eigth-wrapper {
	background-color: #FACAC0;
}

div.starbucks-tenth-wrapper {
	background-color: #0BBCD6;
	margin-top: -80px;
}

div.starbucks-eleventh-wrapper {
	background: white; 
	background: -webkit-linear-gradient(to right, white, #F3F0FC);  
	background: linear-gradient(to right, white, #F3F0FC); 
	position: relative;
}

/* Starbucks | Text */

p.starbucks-text-header, p.starbucks-text {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

p.starbucks-text-header {
	font-size: 45.304px;
	margin-bottom: 50px;
}

p.starbucks-text {
	font-size: 18px;
	line-height: 36px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* First Wrapper */

h1.starbucks-landing-title {
	position: relative;
	top: 150px;
	left: 5%;
	font-size: 73.302px;
}

p.project-info-header {
	float: left;
	margin-top: 200px;
	margin-left: 5%;
	font-weight: bold;
}

p.project-info-data, a.project-info-data {
	float: left;
	margin-top: 200px;
	margin-left: 10px;
}

/* Third Wrapper */

div.starbucks-third-wrapper > p.text-b {
	margin-bottom: -10px;
}

/* Sixth Wrapper */

div.starbucks-sixth-wrapper > p.text-c {
	margin-bottom: -10px;
	margin-top: -25px;
}

/* Seventh Wrapper */

div.starbucks-seventh-wrapper > p.text-b {
	margin-bottom: -10px;
}

/* Starbucks | Links */

a.project-info-data {
	color: #E54B4B;
	text-decoration: none;
	transition: color 0.3s;
}

p.more-projects-title {
	font-size: 3em;
	text-align: center;
	margin: 0;
}

a.next-project-link {
	width: 100%;
	height: 200px;
	overflow: hidden;
	background-color: red;
}

a.next-project-link > div.next-project-frame {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

a.next-project-link > div.next-project-frame > img.next-project-img {
	width: 100%;
	height: auto;
	margin-top: -300px;
}

a.next-project-link > div.next-project-frame > img.ui {
	background: #06beb6; 
	background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  
	background: linear-gradient(to right, #48b1bf, #06beb6); 
}

span.next-project-title {
	color: white;
	font-size: 2em;
	position: absolute;
	top: 50%; /* 45% */
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	opacity: 0;
}

/* Starbucks | Images */

/* First Wrapper*/

img.starbucks-landing-img {
	width: 100%;
	height: auto;
	margin-top: 75px;
	margin-bottom: 40px;
}

/* Third Wrapper */

div.starbucks-third-wrapper > img.starbucks-img {
	width: 20%;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

div.starbucks-third-wrapper > img.img-a {
	margin-left: 25%;
	margin-right: 5%;
}

div.starbucks-third-wrapper > img.img-b {
	margin-left: 5%;
	margin-right: 24%;
}

/* Fourth Wrapper */

div.starbucks-fourth-wrapper > img.starbucks-img {
	width: 20%;
	height: auto;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

div.starbucks-fourth-wrapper > img.img-a, div.starbucks-fourth-wrapper > img.img-b, div.starbucks-fourth-wrapper > img.img-c {
	margin-left: 10%;
	margin-top: 50px;
}

div.starbucks-fourth-wrapper > img.img-d, div.starbucks-fourth-wrapper > img.img-e {
	margin-left: 20%;
	margin-top: 50px;
}

/* Fifth Wrapper */

div.starbucks-fifth-wrapper > img.img-a {
	width: 100%;
	height: auto;
}

/* Sixth Wrapper */

div.starbucks-sixth-wrapper > img.img-a {
	width: 20%;
	height: auto;
	margin-left: 10%;
	margin-left: 40%;
	margin-bottom: 50px;
}

/* Seventh Wrapper */

div.starbucks-seventh-wrapper > img.starbucks-img {
	width: 20%;
	height: auto;
	margin-left: 4%;
}

/* Eigth Wrapper */

div.starbucks-eigth-wrapper > img.starbucks-img {
	width: 20%;
	height: auto;
	margin-left: 10%;
}

/* Ninth Wrapper */

div.starbucks-ninth-wrapper > img.starbucks-img {
	width: 100%;
	height: auto;
	margin-top: -75px;
}

/* Tenth Wrapper */

div.starbucks-tenth-wrapper > img.starbucks-img {
	width: 20%;
	height: auto;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

div.starbucks-tenth-wrapper > img.img-a, div.starbucks-tenth-wrapper > img.img-b, div.starbucks-tenth-wrapper > img.img-c {
	margin-left: 10%;
	margin-top: 0;
}

div.starbucks-tenth-wrapper > img.img-d, div.starbucks-tenth-wrapper > img.img-e {
	margin-left: 20%;
	margin-top: 5%;
}

/* Eleventh Wrapper */

video.starbucks-vid {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: -75px;
	margin-bottom: -81px;
	filter: brightness(50%);
}

p.play-vid-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3em;
	color: white;
	cursor: pointer;
}

/* Starbucks | Animations */

h1.starbucks-landing-title {
	position: relative;
	top: 200px; /* 150px */
	opacity: 0;
}

p.project-info-header {
	margin-top: 250px; /* 200px */
	opacity: 0;
}

p.project-info-data {
	margin-top: 250px; /* 200px */
	opacity: 0;
}

a.project-info-data {
	margin-top: 250px; /* 200px */
	opacity: 0;
	display: inline-block;
}

img.starbucks-landing-img {
	width: 100%;
	height: auto;
	margin-top: 125px; /* 75px */
	opacity: 0;
}

h1.starbucks-landing-title, p.project-info-header, p.project-info-data, a.project-info-data, img.starbucks-landing-img {
	transition: opacity 0.5s, top 0.5s, margin-top 0.5s;;
}

/****************************************************************************************************************************************************************************/

/* Mobile UI Concepts*/

/* UI | Skeleton */

div.ui-wrapper {
	float: left;
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	box-sizing: border-box;
	border-bottom: solid 1px #efefef;
	position: relative;
}

div.ui-wrapper-one {
	margin-top: 125px;
	border-top: solid 1px #efefef;
}

/* UI | Text */

p.ui-text {
	font-size: 18px;
	line-height: 36px;
}

h1.ui-landing-header {
	position: relative;
	font-size: 73.302px;
	margin-left: 5%;
	top: 275px; /* 225px */
}

p.ui-landing-subheader {
	position: relative;
	margin-top: 325px; /* 275px */
	font-size: 18px;
	margin-left: 5%;
}

p.project-type {
	font-size: 36px;
	position: absolute;
	top: -25px;
	left: 50%;
	display: inline-block;
	background-color: white;
	width: 20%;
	text-align: center;
	transform: translateX(-50%);
}

h1.ui-landing-header, p.ui-landing-subheader, img.ui-landing-img {
	transition: opacity 0.5s, top 0.5s, margin-top 0.5s;
	opacity: 0;
}

/* UI | Links */

a.next-project-link img.posters {
	margin-top: 200px;
}

/* UI | Images */

img.ui-landing-img {
	width: 100%;
	height: auto;
	margin-top: 125px; /* 75px */
	background: #06beb6; 
	background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  
	background: linear-gradient(to right, #48b1bf, #06beb6); 
}

div.ui-wrapper img.ui-img {
	float: left;
	width: 20%;
	height: auto;
	margin-left: 4%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

/****************************************************************************************************************************************************************************/

/* Poster Designs */

/* Poster | Text */

p.poster-text {
	font-size: 18px;
	line-height: 36px;
}

h1.poster-landing-header {
	font-size: 73.302px;
	position: relative;
	top: 275px; /* 225px */
	left: 5%;
}

p.poster-text {
	position: relative;
	top: 325px; /* 275px */
	left: 5%;
	margin-bottom: 50px;
}

/* Poster | Images */

img.poster-landing-img {
	width: 100%;
	height: auto;
	margin-top: 350px; /* 300px */
}

img.poster {
	width: 30%;
	height: auto;
	margin-left: 13.333%;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

h1.poster-landing-header, p.poster-text, img.poster-landing-img {
	transition: opacity 0.5s, top 0.5s, margin-top 0.5s;
	opacity: 0;
}

/****************************************************************************************************************************************************************************/

/* Fonts */

body {
	font-family: avenirLight, Helvetica;
	color: #3f3f3f;
}

@font-face {
    font-family: avenirLight;
    src: url(../fonts/avenir/AvenirLTStd-Light.otf);
} 

h1.home-title, p.thumbnail-caption-header, h1.about-header, p.about-subheader, h1.starbucks-landing-title, p.project-info-header, p.starbucks-text-header, h1.ui-landing-header, p.project-type, h1.poster-header {
	font-family: avenirBold, Helvetica;
}

@font-face {
    font-family: avenirBold;
    src: url(../fonts/avenir/AvenirLTStd-Book.otf);
} 

a.logo {
	font-family: logo;
}

@font-face {
	font-family: logo;
	src: url('../fonts/logo/ka1.ttf');
}

/****************************************************************************************************************************************************************************/

/* Queries | Mobile Portrait */

@media only screen and (max-width: 414px) {

	/* Universal */

	/* Skeleton */

	html, body, h1, h2, p, a, ul, ol, li, div, img {
		margin: 0;
		padding: 0;
	}

	body {
		overflow-x: hidden;
	}

	/* Logo */

	a.logo {
		font-size: 1.5em;
		left: 5%;
		position: fixed;
		text-decoration: none;
		color: white;
		z-index: 11;
	}

	/* Hamburger Menu Btn */

	.hamburger-btn {
		width: 30px;
		height: 25px;
		position: relative;
		left: 87.5%;
		top: 35px;
		cursor: pointer;
		z-index: 101;
		position: fixed;
	}

	.hamburger-btn-clicked {
		width: 30px;
		height: 25px;
		position: relative;
		top: 35px;
		left: 87.5%;
		cursor: pointer;
		position: fixed;
		z-index: 101;
	}

	.hamburger-btn-line {
		width: 25px;
		height: 3px;
		background-color: black;
		position: absolute;
		z-index: 3;
		transition: left 0.3s;
		background-color: white;
	}

	.hamburger-btn-line-top {
		top: 4px;
		left: 2px;
	}

	.hamburger-btn-line-bottom {
		top: 13px;
		left: 2px;
	}

	/* Nav Menu */

	div.nav-menu {
		box-sizing: border-box;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: black;
		opacity: 0;
		top: 0px;
		left: 0px;
		z-index: 50;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	div.nav-menu-revealed {
		box-sizing: border-box;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: black;
		opacity: 1;
		top: 0px;
		left: 0px;
		z-index: 51;
		visibility: visible;
		transition: opacity 0.3s, visibility 0.3s;
	}

	div.flex-nav {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 3.5vw;
	    left: 0;
	    right: 0;
	    margin-top: 20%;
	}

	/* Nav Menu Bg Imgs */

	img.nav-bg-img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
		filter: brightness(20%);
	}

	/* Nav Menu Items */

	a.nav-item, a.nav-item-revealed {
		text-decoration: none;
		color: #E54B4B;
		font-size: 2em;
		text-align: center;
		margin-top: 27%;
		display: block;
		opacity: 0;
		visibility: hidden;
		width: 80%;
		margin-left: 10%;
	}

	a.nav-item-revealed {
		opacity: 1;
		visibility: visible;
		margin-top: 7%;
	}

	a.contact-link, a.contact-link-revealed {
		text-decoration: none;	
		color: #E54B4B;
		font-size: 1em;
		text-align: center;
		bottom: 3.5vw;
		margin-left: 5%;
		margin-right: 5%;
		display: block;
		opacity: 0;
		visibility: hidden;
		margin-top: 7%;
	}

	a.contact-link-revealed {
		opacity: 1;
		visibility: visible;
		margin-top: 5%;
	}

	/* Universal Animations */

	img.nav-bg-img {
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
		opacity: 0;
	}

	@keyframes fadeIn {
		0% {
			transform: scale(1.2);
			opacity: 0;
		}

		100% {
			transform: scale(1.1);
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			transform: scale(1.1);
			opacity: 1;
		}

		100% {
			transform: scale(1.2);
			opacity: 0;
		}
	}

	a.logo {
		top: -100px;
		animation: appearLogo 1s 1s;
		animation-fill-mode: forwards;
	}

	@keyframes appearLogo {
		0% {
			top: -100px;
		}
		100% {
			top: 30px;
		}
	}

	.hamburger-btn {
		top: -100px;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	@keyframes appearHamburger {
		0% {
			top: -100px
		}

		100% {
			top: 35px;
		}
	}

	.hamburger-btn-line-top {
		top: 4px;
		left: 2px;
	}

	.hamburger-btn-line-bottom {
		top: 13px;
		left: 2px;
	}

	.hamburger-btn-line-top, .hamburger-btn-line-bottom {
		animation-duration: 1s;
		animation-fill-mode: forwards;
		/*animation-timing-function: cubic-bezier(0.5, 0, 0.25, 2.5);*/
		transition: transform 1s, top 1s;
	}

	@keyframes topClicked {

		0% {
			top: 4px;
		}

		20% {
			top: 8.5px;
			transform: rotate(0deg)
		}

		100% {
			top: 8.5px;
			transform: rotate(-45deg);
		}

	}

	@keyframes bottomClicked {

		0% {
			top: 15px;
		}

		20% {
			top: 8.5px;
			transform: rotate(0deg)
		}

		100% {
			top: 8.5px;
			transform: rotate(45deg);
		}

	}

	@keyframes topUnclicked {

		0% {
			top: 8.5px;
			transform: rotate(-45deg);
		}

		50% {
			top: 8.5px;
			transform: rotate(0deg);
		}

		100% {
			top: 4px;
		}

	}

	@keyframes bottomUnclicked {
		0% {
			top: 8.5px;
			transform: rotate(45deg);
		}

		50% {
			top: 8.5px;
			transform: rotate(0deg);
		}

		100% {
			top: 13px;
		}

	}

	@keyframes colorChange {
		0% {
			color: red;
		}

		50% {
			color: green;
		}

		100% {
			color: blue;
		}
	}

	/* Home Page */

	/* Home Page | Skeleton */

	body.home-body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		/*box-sizing: border-box;*/
		/*border: solid 20px black;*/
		background-color: white;
		color: white;
		overflow: hidden;
	}

	/*body:after {
		content: "";
		width: calc(100vw - 40px);
		height: calc(100vh - 40px);
		background: black;
		position: absolute;
		top: 20px;
		left: 20px;
		bottom: 20px;
		right: 20px;
		z-index: -1;
		border: solid 20px black;
		box-sizing: inherit;
	}*/

	div.home-circle {
		position: absolute;
		width: 275px;
		height: 275px;
		background-color: white;
		border-radius: 50%;
		top: 275px;
		left: 30px;
		opacity: 0.3;
	}

	div.home-title-frame {
		width: 100%;
		z-index: -2;
	}

	div.project-frame {
		width: 90%;
		height: 300px;
		left: 5%;
		position: relative;
		margin-left: 0;
		margin-bottom: 50px;
		overflow: hidden;
	}

	div.project-a {
		margin-top: 350px;
	}

	div.project-thumbnails {
		width: 100%;
		height: 200px;
		overflow: hidden;
		position: relative;
		z-index: 10;
	}

	/* Home Page | Text */

	h1.home-title {
		text-align: center;
		font-size: 2em;
		overflow: hidden;
		height: auto;
		display: inline-block;
		width: 325px;
		margin-left: 4%;
	}

	div.project-frame p.thumbnail-caption-header, div.project-frame p.thumbnail-caption-subheader {
		position: absolute;
		left: 0;
		top: 120px; /* 100 px */
		opacity: 1;
		transition: top 0.5s, opacity 0.5s;
		z-index: 11;
	}

	div.project-frame p.thumbnail-caption-header {
		font-size: 1.618em;
		top: 220px; /* 50 px */
	}

	div.project-frame p.thumbnail-caption-subheader {
		margin-top: 140px;
	}

	p.always-credit-the-artist-when-you-can {
		margin-left: 0;
		text-align: center;
		margin-top: -50px;
	}

	/* Home Page | Images */

	img.thumbnail-imgs {
		width: 100%;
		height: auto;
		transition: filter 0.5s, transform 0.5s;
	}

	div.project-a img.starbucks-thumbnail {
		margin-top: 0px;
		transform: scale(1.1);
	}

	div.project-b img.ui-thumbnail {
		background: #06beb6; 
		background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  
		background: linear-gradient(to right, #48b1bf, #06beb6); 
		margin-top: 0px;
	}

	/* Home Page | Animations */

	div.home-title-frame {
		width: 0;
		height: 160px;
		margin-left: 50%;
		animation: appearTitle 1.5s 1s;
		animation-fill-mode: forwards;
		overflow: hidden;
	}

	@keyframes appearTitle {
		0% {
			width: 0;
			margin-top: 200%;
			border-left: solid 5px white;
			/*border-right: solid 5px white;*/
		}

		70% {
			width: 0;
			margin-top: 60%;
			margin-left: 50%;
			border-left: solid 5px white;
			/*border-right: solid 10px white;*/
		}

		100% {
			margin-top: 60%;
			width: 96%;
			margin-left: 2%;
			margin-right: 35%;
			border-left: solid 5px white;
			/*border-right: solid 10px white;*/
		}

	}

	div.home-circle {
		transform: scale(0);
		animation: appearCircle 2s 1s;
		animation-fill-mode: forwards;
	}

	@keyframes appearCircle {
		0% {
			transform: scale(0);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}

	/* About Page */

	/* About | Text */

	h1.about-header {
		position: relative;
		top: 275px; /* 225px */
		font-size: 36px;
		left: 5%;
		width: 90%;
		margin-right: 5%;
	}

	p.about-subheader {
		/*margin-left: 5%;*/
		text-align: center;
		font-size: 28px;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	p.about-text {
		font-size: 18px;
		line-height: 36px;
		margin-left: 5%;
		margin-top: 50px;
		margin-right: 5%;
	}

	body.about-body p.text-a {
		margin-top: 325px; /* 275px */
	}

	body.about-body p.text-f {
		/*margin-left: 0;*/
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	body.about-body p.text-g {
		/*margin-left: 0;*/
		text-align: center;
		margin-top: 25px;
		margin-bottom: 100px;
	}

	h1.about-header, p.about-text, img.netflix-me {
		transition: top 0.5s, margin-top 0.5s, opacity 0.5s;
		opacity: 0;
	}

	/* About | Links */

	a.my-email {
		color: #E54B4B;
		text-decoration: none;
		transition: color 0.3s;
	}

	a.my-email:hover {
		color: black;
	}

	/* About | Images */

	img.netflix-me {
		width: 100%;
		height: auto;
		margin-top: 75px; /* 50px */
	}

	img.good-boy {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: auto;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	/* Starbucks Page  */

	/* Starbucks | Skeleton */

	div.starbucks-wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	div.starbucks-first-wrapper {
		width: 100%;
		height: auto;
	}

	div.starbucks-second-wrapper {
		margin-top: -75px;
		background-color: white;
	}

	div.starbucks-third-wrapper {
		background-color: #F9F7E8;
	}

	div.starbucks-fourth-wrapper {
		background-color: #D1E9E3;
	}

	div.starbucks-fifth-wrapper {
		margin-top: -30px;	
		margin-bottom: 40px;
	}

	div.starbucks-sixth-wrapper {
		margin-top: -81px;
		background-color: #f9f9f9;
	}

	div.starbucks-seventh-wrapper {
		background-color: #D1E9D3;
	}

	div.starbucks-eigth-wrapper {
		background-color: #FACAC0;
	}

	div.starbucks-tenth-wrapper {
		background-color: #0BBCD6;
		margin-top: -80px;
	}

	div.starbucks-eleventh-wrapper {
		background: white; 
		background: -webkit-linear-gradient(to right, white, #F3F0FC);  
		background: linear-gradient(to right, white, #F3F0FC); 
		position: relative;
	}

	/* Starbucks | Text */

	p.starbucks-text-header, p.starbucks-text {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}

	p.starbucks-text-header {
		font-size: 28px;
		margin-bottom: 20px;
	}

	p.starbucks-text {
		font-size: 18px;
		line-height: 36px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* First Wrapper */

	h1.starbucks-landing-title {
		position: relative;
		top: 150px;
		left: 5%;
		width: 90%;
		right: 5%;
		font-size: 36px;
	}

	p.project-info-header {
		float: left;
		margin-top: 200px;
		margin-left: 5%;
		font-weight: bold;
	}

	p.project-info-data, a.project-info-data {
		float: left;
		margin-top: 200px;
		margin-left: 10px;
	}

	/* Third Wrapper */

	div.starbucks-third-wrapper > p.text-b {
		margin-bottom: -10px;
	}

	/* Sixth Wrapper */

	div.starbucks-sixth-wrapper > p.text-c {
		margin-bottom: -10px;
		margin-top: -25px;
	}

	/* Seventh Wrapper */

	div.starbucks-seventh-wrapper > p.text-b {
		margin-bottom: -10px;
	}

	/* Starbucks | Links */

	a.project-info-data {
		color: #E54B4B;
		text-decoration: none;
		transition: color 0.3s;
	}

	a.next-project-link {
		width: 100%;
		height: 200px;
		overflow: hidden;
		background-color: red;
	}

	a.next-project-link > div.next-project-frame {
		width: 100%;
		height: 150px;
		overflow: hidden;
		position: relative;
	}

	a.next-project-link > div.next-project-frame > img.next-project-img {
		width: 100%;
		height: auto;
		margin-top: -50px;
		filter: brightness(50%);
	}

	a.next-project-link > div.next-project-frame > img.ui {
		background: #06beb6; 
		background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  
		background: linear-gradient(to right, #48b1bf, #06beb6); 
	}

	span.next-project-title {
		color: white;
		font-size: 2em;
		position: absolute;
		top: 50%; /* 45% */
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		opacity: 0;
	}

	/* Starbucks | Images */

	/* First Wrapper*/

	img.starbucks-landing-img {
		width: 100%;
		height: auto;
		margin-top: 75px;
	}

	/* Third Wrapper */

	div.starbucks-third-wrapper > img.starbucks-img {
		width: 42%;
		height: auto;
		margin-left: 5%;
		margin-right: 0%;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	/* Fourth Wrapper */

	div.starbucks-fourth-wrapper > img.starbucks-img {
		width: 28%;
		height: auto;
		box-shadow: 10px 10px 40px rgba(0,0,0,.3);
		margin-top: 20px;
	}

	div.starbucks-fourth-wrapper > img.img-a {
		margin-left: 5%;
	}

	div.starbucks-fourth-wrapper > img.img-b, div.starbucks-fourth-wrapper > img.img-c {
		margin-left: 2%;
	}

	div.starbucks-fourth-wrapper > img.img-d, div.starbucks-fourth-wrapper > img.img-e {
		margin-left: 14%;
	}

	/* Fifth Wrapper */

	div.starbucks-fifth-wrapper > img.img-a {
		width: 100%;
		height: auto;
	}

	/* Sixth Wrapper */

	div.starbucks-sixth-wrapper > img.img-a {
		width: 50%;
		height: auto;
		margin-left: 25%;
		margin-left: 25%;
		margin-bottom: 30px;
	}

	/* Seventh Wrapper */

	div.starbucks-seventh-wrapper > img.starbucks-img {
		width: 42%;
		margin-left: 5%;
		height: auto;
	}

	/* Eigth Wrapper */

	div.starbucks-eigth-wrapper > img.starbucks-img {
		width: 30%;
		height: auto;
		margin-left: 2%;
	}

	/* Ninth Wrapper */

	div.starbucks-ninth-wrapper > img.starbucks-img {
		width: 100%;
		height: auto;
		margin-top: -30px;
		margin-bottom: 40px;
	}

	/* Tenth Wrapper */

	div.starbucks-tenth-wrapper > img.starbucks-img {
		width: 30%;
		height: auto;
		box-shadow: 10px 10px 40px rgba(0,0,0,.3);
	}

	div.starbucks-tenth-wrapper > img.img-a, div.starbucks-tenth-wrapper > img.img-b, div.starbucks-tenth-wrapper > img.img-c {
		margin-left: 1.8%;
		margin-top: 0;
	}

	div.starbucks-tenth-wrapper > img.img-d, div.starbucks-tenth-wrapper > img.img-e {
		margin-left: 13.333%;
		margin-top: 20px;
	}

	/* Eleventh Wrapper */

	video.starbucks-vid {
		width: 100%;
		height: auto;
		margin-left: 0;
		margin-top: -30px;
		margin-bottom: -40px;
		filter: brightness(100%);
	}

	p.play-vid-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 3em;
		color: white;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
	}

	/* Starbucks | Animations */

	h1.starbucks-landing-title {
		position: relative;
		top: 200px; /* 150px */
		opacity: 0;
	}

	p.project-info-header {
		margin-top: 50px; /* 200px */
		opacity: 0;
	}

	p.project-info-data {
		margin-top: 50px; /* 200px */
		opacity: 0;
	}

	p.top {
		margin-top: 250px;
	}

	a.project-info-data {
		margin-top: 50px; /* 200px */
		opacity: 0;
		display: inline-block;
	}

	img.starbucks-landing-img {
		width: 100%;
		height: auto;
		margin-top: 100px; /* 75px */
		opacity: 0;
	}

	h1.starbucks-landing-title, p.project-info-header, p.project-info-data, a.project-info-data, img.starbucks-landing-img {
		transition: opacity 0.5s, top 0.5s, margin-top 0.5s;;
	}

	/* Mobile UI Concepts*/

	/* UI | Skeleton */

	div.ui-wrapper {
		float: left;
		width: 100%;
		height: auto;
		padding-top: 75px;
		padding-bottom: 75px;
		box-sizing: border-box;
		border-bottom: solid 1px #efefef;
		position: relative;
	}

	div.ui-wrapper-one {
		margin-top: 75px;
		border-top: solid 1px #efefef;
	}

	/* UI | Text */

	p.ui-text {
		font-size: 18px;
		line-height: 36px;
	}

	h1.ui-landing-header {
		position: relative;
		font-size: 36px;
		margin-left: 5%;
		top: 275px; /* 225px */
	}

	p.ui-landing-subheader {
		position: relative;
		margin-top: 325px; /* 275px */
		font-size: 18px;
		margin-left: 5%;
		margin-right: 5%;
	}

	p.project-type {
		font-size: 28px;
		position: absolute;
		top: -15px;
		left: 50%;
		display: inline-block;
		background-color: white;
		width: 50%;
		text-align: center;
		transform: translateX(-50%);
	}

	h1.ui-landing-header, p.ui-landing-subheader, img.ui-landing-img {
		transition: opacity 0.5s, top 0.5s, margin-top 0.5s;
		opacity: 0;
	}

	/* UI | Links */

	a.next-project-link img.posters {
		margin-top: 200px;
	}

	/* UI | Images */

	img.ui-landing-img {
		width: 100%;
		height: auto;
		margin-top: 75px; /* 75px */
		background: #8e9eab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /
		background: linear-gradient(to right, #eef2f3, #8e9eab); 
	}

	div.ui-wrapper img.ui-img {
		float: left;
		width: 45%;
		height: auto;
		margin-left: 3.33333%;
		margin-right: 0;
		margin-top: 1.66666%;
		margin-bottom: 1.66666%;
		box-shadow: 10px 10px 40px rgba(0,0,0,.3);
	}

	/* Poster Designs */

	/* Poster | Text */

	p.poster-text {
		font-size: 18px;
		line-height: 36px;
	}

	h1.poster-landing-header {
		font-size: 36px;
		position: relative;
		top: 275px; /* 225px */
		width: 90%;
		left: 5%;
		right: 5%;
	}

	p.poster-text {
		position: relative;
		top: 325px; /* 275px */
		width: 90%;
		left: 5%;
		right: 5%;
		margin-bottom: 50px;
	}

	/* Poster | Images */

	img.poster-landing-img {
		width: 100%;
		height: auto;
		margin-top: 350px; /* 300px */
	}

	img.poster {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-top: 75px;
		margin-bottom: 75px;
		box-shadow: 10px 10px 40px rgba(0,0,0,.3);
	}

	h1.poster-landing-header, p.poster-text, img.poster-landing-img {
		transition: opacity 0.5s, top 0.5s, margin-top 0.5s;
		opacity: 0;
	}

} /* end of mobile portrait query */



@media only screen and (min-width: 415px) and (max-width: 736px) {

	/* Will get to his later. . . */

}