/* UNIVERSAL */

/* UNIVERSAL | Skeleton */

html, body, h1, h2, p, a, ul, ol, li, div, img, video, source, span {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

/* UNIVERSAL | Header Frame */

div.header-frame {
	width: 100%;
	height: 80px;
	background-color: white;
	border-bottom: solid 1px #EFEFEF;
	position: fixed;
	top: 0;
	z-index: 10;
}

/* UNIVERSAL | Logo */

a.logo {
	display: inline-block;
	position: fixed;
	font-size: 32px;
	margin-left: 50px;
	text-decoration: none;
	top: 20px;
}

/* UNIVERSAL | Nav */

div.nav {
	display: flex;
	width: 20%;
	height: auto;
	margin-left: 73%;
	margin-right: 5%;
	position: fixed;
	top: 35px;
}

a.nav-item {
	font-size: 16px;
	align-items: baseline;
	text-decoration: none;
}

div.nav > a.a, div.nav > a.b {
	margin-right: 50px;
}

/* UNIVERSAL | Burger */

div.burger-frame {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 27.5px;
	left: 80%;
	cursor: pointer;
	z-index: 11;
}

div.burger-frame-clicked {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 27.5px;
	left: 80%;
	cursor: pointer;
	z-index: 11;
}

div.burger-top, div.burger-bottom {
	position: fixed;
	width: 30px;
	height: 3px;
	background-color: #5b5b5b;
}

div.burger-top {
	top: 25px;
	transform-origin: 40% 60%;
}

div.burger-bottom {
	top: 35px;
	transform-origin: 45% 55%;
}

@keyframes topClicked {

	0% {
		top: 25px;
	}

	100% {
		top: 32px;
		transform: rotate(45deg);
	}

}

@keyframes bottomClicked {

	0% {
		top: 35px;
	}

	100% {
		top: 35px;
		transform: rotate(-45deg);
	}
	
}

@keyframes topUnclicked {

	0% {
		top: 32px;
		transform: rotate(45deg);
	}

	100% {
		top: 25px;
		transform: rotate(0deg);
	}

}

@keyframes bottomUnclicked {
	
	0% {
		top: 35px;
		transform: rotate(-45deg);
	}

	100% {
		top: 35px;
		transform: rotate(0deg);
	}

}

/* UNIVERSAL | Burger Nav */

div.burger-nav {
	width: 100%;
	height: 100vh;
	background: white;
	position: fixed;
	visibility: hidden;
	opacity: 0;
}

div.burger-nav-revealed {
	width: 100%;
	height: 100vh;
	background: white;
	position: fixed;
	visibility: visible;
	opacity: 1;
}

div.burger-nav, div.burger-nav-revealed {
	transition: visibility 0.5s, opacity 0.5s;
}

a.burger-item {
	text-decoration: none;
	display: block;
	font-size: 42px;
	text-align: right;	
	margin-right: 15%;
	margin-top: 15%;
}

/*div.burger-nav > a.burger-item, div.burger-nav-revealed > a.burger-item {
	transition: opacity 0.5s, margin-top 0.5s;
	transition-delay: 0.5s;
}*/

div.burger-nav > a.a {
	margin-top: 50%;
}

div.burger-nav-revealed > a.a {
	margin-top: 50%;
}

/* UNIVERSAL | Footer */

div.footer {
	width: 100%;
	height: auto;
	border-top: solid 1px #EFEFEF;
	padding-top: 50px;
	margin-bottom: 50px;
}

div.footer > p.legal {
	text-align: center;
	font-size: 14px;
}

/* UNIVERSAL | Text */

div.landing > p.landing-title {
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	display: block;
	color: white;
	font-size: 72px;
	width: 100%;
}

p.headers, p.text {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	clear: both;
}

p.headers {
	font-size: 32px;
	margin-bottom: 20px;
	margin-top: 100px;
}

p.text {
	font-size: 18px;
	line-height: 32px;
}

p.problems {
	font-size: 18px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: black;
	line-height: 32px;
}

a.text-link, a.my-email {
	color: #243EFF;	
}

/* UNIVERSIAL | Images */

div.landing > img.landing-img {
	width: 100%;
	height: auto;
	margin-top: 80px;
	filter: brightness(40%);
}

/****************************************************************************************************************************************************************************/

/* HOME */

/* HOME | Text */

div.greeting-frame p.home-text {
	font-size: 48px;
	margin-bottom: 50px;
}

div.greeting-frame {
	width: 700px;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 250px;
	margin-bottom: 250px;
}

div.projects-frame p.thumbnail-caption {
	color: black;
	font-size: 24px;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}

/* HOME | Images */

div.projects-frame > a.thumbnail-frame {
	display: inline-block;
	width: 700px;
	height: auto;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 200px;
	overflow: hidden;
}

div.projects-frame > a.thumbnail-frame > img.thumbnail-img {
	width: 100%;
	height: auto;
}

/****************************************************************************************************************************************************************************/

/* ABOUT */

/* ABOUT | Text */

div.content-about > p.about-top {
	margin-top: 300px;
}

p.quote {
	font-size: 36px;
	line-height: 48px;
}

p.fin {
	margin-bottom: 200px;
}

/* ABOUT | Images */

img.me-netflix {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
}

img.good-boy {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
}

/****************************************************************************************************************************************************************************/

/* CONTACT */

/* CONTACT | Text */

div.content-contact > p.contact-top {
	margin-top: 300px;
}

div.socialize {
	margin-top: 50px;
	margin-bottom: 200px;
}

a.social-links {
	display: block;
	margin-left: 25%;
	line-height: 32px;
	text-decoration: none;
	color: #243EFF;
}

/****************************************************************************************************************************************************************************/

/* MINDFULL */

/* MINDFULL | Skeleton */

div.landing {
	position: relative;
}

/* MINDFULL | Text */

p.last-text {
	margin-bottom: 200px;
}

/* MINDFULL | Images */

img.mental-health-data {
	width: 50%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 24%;
	margin-right: 25%;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}

div.mindfull-imgs-1 > img.mindfull-img {
	width: 17%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}


div.mindfull-imgs-1 > img.a {
	margin-left: 2.5%;
}

div.mindfull-imgs-1 > img.d {
	margin-right: 2.5%;
}

div.mindfull-imgs-2 > img.mindfull-img {
	width: 15%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 120px;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}

div.mindfull-imgs-2 > img.a {
	margin-left: 2.5%;
}

div.mindfull-imgs-2 > img.d {
	margin-right: 2.5%;
}

div.mindfull-imgs-3 > img.mindfull-img {
	width: 17%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	margin-bottom: 50px;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}

div.mindfull-imgs-3 > img.a {
	margin-left: 2.5%;
}

div.mindfull-imgs-3 > img.e {
	margin-right: 2.5%;
}

div.mindfull-imgs-4 > img.mindfull-img {
	width: 17%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	margin-bottom: 50px;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}

div.mindfull-imgs-4 > img.a {
	margin-left: 2.5%;
}

div.mindfull-imgs-4 > img.e {
	margin-right: 2.5%;
}

/* MINDFULL | Videos */

video.mindfull-video-flat {
	width: 17%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	/*box-shadow: 10px 10px 40px rgba(0,0,0,.3);*/
}

div.mindfull-imgs-2 > video.mindfull-video {
	width: 25%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-bottom: 50px;
}

div.mindfull-vids-1 > video.mindfull-video {
	width: 25%;
	height: auto;
	margin-left: 16.66666%;
	margin-bottom: -50px;
}

div.mindfull-vids-2 > video.mindfull-video {
	width: 25%;
	height: auto;
	margin-left: 6%;
}

div.mindfull-vids-3 > video.mindfull-video {
	width: 25%;
	height: auto;
	margin-left: 16.66666%;
	margin-bottom: -50px;
}

/****************************************************************************************************************************************************************************/

/* STARBUCKS */

/* STARBUCKS | Skeleton */

div.landing {
	position: relative;
}

/* STARBUCKS | Text */

p.bye {
	margin-top: 20px;
	margin-bottom: 150px;
}

/* STARBUCKS | Images */

img.starbucks-comparison {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 20px;
	height: auto;
}

div.starbucks-imgs-1 > img.starbucks-img {
	width: 17%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	margin-bottom: 100px;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

div.starbucks-imgs-1 > img.a {
	margin-left: 2.5%;
}

div.starbucks-imgs-1 > img.e {
	margin-right: 2.5%;
}

div.starbucks-imgs-2 > img.starbucks-img {
	width: 17%;
	height: auto;
	float: left;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-top: 50px;
	margin-bottom: 100px;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

div.starbucks-imgs-2 > img.a {
	margin-left: 2.5%;
}

div.starbucks-imgs-2 > img.e {
	margin-right: 2.5%;
}

div.starbucks-imgs-3 > img.starbucks-img {
	width: 20%;
	height: auto;
	margin-left: 20%;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

/* STARBUCKS | Videos */

div.starbucks-vid-1 > video.starbucks-vid {
	width: 25%;
	height: auto;
	margin-left: 37.5%;
	margin-right: 37.5%;
	margin-top: 20px;
	margin-bottom: -40px;
}

div.starbucks-vid-2 > video.starbucks-vid {
	width: 30%;
	height: auto;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 20px;
	margin-bottom: -20px;
}

/****************************************************************************************************************************************************************************/

/* UI */

/* UI | Images */

div.gallery {
	margin-top: 100px;
	margin-bottom: 100px;
}

div.gallery a {
	text-decoration: none;
}

div.content-ui > div.gallery img{
	width: 12%;
	height: auto;
	margin-left: 3.8%;
	margin-bottom: 3.8%;
	transition: box-shadow 0.3s;
}

div.content-ui > div.gallery img:hover {
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

/****************************************************************************************************************************************************************************/

/* POSTERS */

/* POSTERS | Images */

div.gallery {
	margin-top: 100px;
	margin-bottom: 100px;
}

div.gallery a {
	text-decoration: none;
}

div.content-posters > div.gallery img{
	width: 30%;
	height: auto;
	margin-left: 13.33333%;
	margin-bottom: 13.3333%;
	transition: opacity 0.3s;
	box-shadow: 10px 10px 40px rgba(0,0,0,.3);
}

div.content-posters > div.gallery img:hover {
	opacity: 0.8;
}

/****************************************************************************************************************************************************************************/

/* QUERIES */

/* QUERIES | Mobile Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) { 

	/* UNIVERSAL | Header Frame */

	div.header-frame {
		height: 60px;/**/
	}

	/* UNIVERSAL | Logo */

	a.logo {
		font-size: 32px;
		margin-left: 5%; /**/
		top: 10px; /**/
	}

	/* UNIVERSAL | Burger */

	div.burger-frame {
		left: 87%;/**/
	}

	div.burger-frame-clicked {
		left: 87%;/**/
	}

	/* UNIVERSAL | Footer */

	div.footer {
		padding-top: 20px; /**/
		margin-bottom: 20px; /**/
	} 

	div.footer > p.legal {
		font-size: 12px; /**/
	}

	/* UNIVERSAL | Text */

	div.landing > p.landing-title {
		top: 150px; /**/
		font-size: 36px; /**/
	}

	p.headers, p.text {
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
	}

	p.headers {
		font-size: 28px; /**/
		margin-bottom: 15px; /**/
		margin-top: 80px; /**/
	}

	p.text {
		font-size: 16px; /**/
		line-height: 30px; /**/
	}

	p.problems {
		font-size: 16px; /**/
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		line-height: 30px; /**/
	}

	/* UNIVERSIAL | Images */

	div.landing > img.landing-img {
		margin-top: 60px;
	}

	/* HOME */

	/* HOME | Text */

	div.greeting-frame p.home-text {
		font-size: 28px; /**/
		margin-bottom: 30px; /**/
	}

	div.greeting-frame {
		width: 90%; /**/
		height: auto; /**/
		margin-left: 5%; /**/
		transform: translateX(0); /**/
		margin-top: 210px; /**/
		margin-bottom: 150px;/**/
	}

	div.projects-frame p.thumbnail-caption {
		font-size: 20px;/**/
	}

	/* HOME | Images */

	div.projects-frame > a.thumbnail-frame {
		width: 90%;/**/
		margin-left: 5%;/**/
		transform: translateX(0); /**/
		margin-bottom: 100px; /**/
	}

	/* ABOUT */

	/* ABOUT | Text */

	div.content-about > p.about-top {
		margin-top: 200px; /**/
	}

	p.quote {
		font-size: 24px; /**/
		line-height: 42px; /**/
	}

	p.fin {
		margin-bottom: 200px;
	}

	/* ABOUT | Images */

	img.me-netflix {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	img.good-boy {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	/* CONTACT */

	/* CONTACT | Text */

	div.content-contact > p.contact-top {
		margin-top: 200px;
	}

	div.socialize {
		margin-top: 50px;
		margin-bottom: 150px;
	}

	a.social-links {
		margin-left: 5%; /**/
		line-height: 38px; /**/
		color: black; /**/
	}

	/* MINDFULL */

	/* MINDFULL | Text */

	p.last-text {
		margin-bottom: 200px; /**/
	}

	/* MINDFULL | Images */

	img.mental-health-data {
		width: 100%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
	}

	div.mindfull-imgs-1 > img.mindfull-img {
		width: 90%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
	}

	div.mindfull-imgs-2 > img.mindfull-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
	}

	div.mindfull-imgs-3 > img.mindfull-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.mindfull-imgs-4 > img.mindfull-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/* MINDFULL | Videos */

	video.mindfull-video-flat {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
	}

	div.mindfull-imgs-2 > video.mindfull-video {
		width: 100%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-bottom: -20px; /**/
	}

	div.mindfull-vids-1 > video.mindfull-video {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-bottom: -50px; /**/
	}

	div.mindfull-vids-2 > video.mindfull-video {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-bottom: -10px; /**/
	}

	div.mindfull-vids-3 > video.mindfull-video {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-bottom: -50px; /**/
	}

	/* STARBUCKS */

	/* STARBUCKS | Text */

	p.bye {
		margin-top: 30px; /**/
		margin-bottom: 200px; /**/
	}

	/* STARBUCKS | Images */

	img.starbucks-comparison {
		width: 100%;/**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-1 > img.starbucks-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-2 > img.starbucks-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-3 > img.starbucks-img {
		width: 90%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
		margin-bottom: 50px; /**/
	}

	/* STARBUCKS | Videos */

	div.starbucks-vid-1 > video.starbucks-vid {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-top: 0px; /**/
		margin-bottom: -40px; /**/
	}

	div.starbucks-vid-2 > video.starbucks-vid {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-top: 0px; /**/
		margin-bottom: -40px; /**/
	}

	/* UI */

	/* UI | Images */

	div.content-ui > div.gallery img{
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-bottom: 5%; /**/
		transition: none; /**/
	}

	div.content-ui > div.gallery img:hover {
		box-shadow: none; /**/
	}

	/* POSTERS */

	/* POSTERS | Images */

	div.content-posters > div.gallery img{
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-bottom: 20%; /**/
		transition: none; /**/
	}

	div.content-posters > div.gallery img:hover {
		opacity: 1; /**/
	}

}

/* QUERIES | Mobile Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) { 

	/* UNIVERSAL | Header Frame */

	div.header-frame {
		height: 60px;/**/
	}

	/* UNIVERSAL | Logo */

	a.logo {
		font-size: 32px;
		margin-left: 5%; /**/
		top: 10px; /**/
	}

	/* UNIVERSAL | Burger */

	div.burger-frame {
		left: 90%;/**/
	}

	div.burger-frame-clicked {
		left: 90%;/**/
	}

	/* UNIVERSAL | Burger Nav */

	a.burger-item {
		font-size: 36px; /**/
		margin-right: 10%; /**/
		margin-top: 5%; /**/
	}

	div.burger-nav > a.a {
		margin-top: 15%;
	}

	div.burger-nav-revealed > a.a {
		margin-top: 15%;
	}

	/* UNIVERSAL | Footer */

	div.footer {
		padding-top: 20px; /**/
		margin-bottom: 20px; /**/
	} 

	div.footer > p.legal {
		font-size: 12px; /**/
	}

	/* UNIVERSAL | Text */

	div.landing > p.landing-title {
		top: 220px; /**/
		font-size: 36px; /**/
	}

	p.headers, p.text {
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
	}

	p.headers {
		font-size: 28px; /**/
		margin-bottom: 15px; /**/
		margin-top: 80px; /**/
	}

	p.text {
		font-size: 16px; /**/
		line-height: 30px; /**/
	}

	p.problems {
		font-size: 16px; /**/
		width: 90%; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		line-height: 30px; /**/
	}

	/* UNIVERSIAL | Images */

	div.landing > img.landing-img {
		margin-top: 60px;
	}

	/* HOME */

	/* HOME | Text */

	div.greeting-frame p.home-text {
		font-size: 28px; /**/
		margin-bottom: 30px; /**/
	}

	div.greeting-frame {
		width: 70%; /**/
		height: auto; /**/
		margin-left: 15%; /**/
		transform: translateX(0); /**/
		margin-top: 150px; /**/
		margin-bottom: 150px;/**/
	}

	div.projects-frame p.thumbnail-caption {
		font-size: 20px;/**/
	}

	/* HOME | Images */

	div.projects-frame > a.thumbnail-frame {
		width: 70%;/**/
		margin-left: 15%;/**/
		transform: translateX(0); /**/
		margin-bottom: 100px; /**/
	}

	/* ABOUT */

	/* ABOUT | Text */

	div.content-about > p.about-top {
		margin-top: 200px; /**/
	}

	p.quote {
		font-size: 24px; /**/
		line-height: 42px; /**/
	}

	p.fin {
		margin-bottom: 200px;
	}

	/* ABOUT | Images */

	img.me-netflix {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	img.good-boy {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	/* CONTACT */

	/* CONTACT | Text */

	div.content-contact > p.contact-top {
		margin-top: 200px;
	}

	div.socialize {
		margin-top: 50px;
		margin-bottom: 150px;
	}

	a.social-links {
		margin-left: 5%; /**/
		line-height: 38px; /**/
		color: black; /**/
	}

	/* MINDFULL */

	/* MINDFULL | Text */

	p.last-text {
		margin-bottom: 200px; /**/
	}

	/* MINDFULL | Images */

	img.mental-health-data {
		width: 90%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
	}

	div.mindfull-imgs-1 > img.mindfull-img {
		width: 22%; /**/
		margin-top: 30px; /**/
		margin-bottom: 0px; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
	}

	div.mindfull-imgs-2 > img.mindfull-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px; /**/
	}

	div.mindfull-imgs-3 > img.mindfull-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.mindfull-imgs-4 > img.mindfull-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/* MINDFULL | Videos */

	video.mindfull-video-flat {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: -20px; /**/
	}

	div.mindfull-imgs-2 > video.mindfull-video {
		width: 30%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 3%; /**/
		margin-bottom: -20px; /**/
		display: block;
	}

	div.mindfull-vids-1 > video.mindfull-video {
		width: 30%; /**/
		margin-left: 3%; /**/
		margin-bottom: -50px; /**/
	}

	div.mindfull-vids-2 > video.mindfull-video {
		width: 30%; /**/
		margin-left: 0%; /**/
		margin-bottom: -10px; /**/
	}

	div.mindfull-vids-3 > video.mindfull-video {
		width: 30%; /**/
		margin-left: 3%; /**/
		margin-bottom: -50px; /**/
	}

	/* STARBUCKS */

	/* STARBUCKS | Text */

	p.bye {
		margin-top: 30px; /**/
		margin-bottom: 150px; /**/
	}

	/* STARBUCKS | Images */

	img.starbucks-comparison {
		width: 90%;/**/
		margin-left: 5%; /**/
		margin-right: 5%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-1 > img.starbucks-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-2 > img.starbucks-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	div.starbucks-imgs-3 > img.starbucks-img {
		width: 22%; /**/
		float: none; /**/
		clear: both; /**/
		margin-left: 7%; /**/
		margin-top: 30px; /**/
		margin-bottom: 50px; /**/
	}

	/* STARBUCKS | Videos */

	div.starbucks-vid-1 > video.starbucks-vid {
		width: 30%; /**/
		margin-left: 3%; /**/
		margin-top: 0px; /**/
		margin-bottom: -40px; /**/
	}

	div.starbucks-vid-2 > video.starbucks-vid {
		width: 30%; /**/
		margin-left: 3%; /**/
		margin-right: 0%; /**/
		margin-top: 0px; /**/
		margin-bottom: -40px; /**/
	}

	/* UI */

	/* UI | Images */

	div.content-ui > div.gallery img{
		width: 22%; /**/
		margin-left: 8%; /**/
		transition: none; /**/
	}

	div.content-ui > div.gallery img:hover {
		box-shadow: none; /**/
	}

	/* POSTERS */

	/* POSTERS | Images */

	div.content-posters > div.gallery img{
		width: 30%; /**/
		margin-left: 13.33333%; /**/
		margin-bottom: 13.33333%; /**/
		transition: none; /**/
	}

	div.content-posters > div.gallery img:hover {
		opacity: 1; /**/
	}

}

/* QUERIES | Tablet Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {

	/* UNIVERSAL */

	/* UNIVERSAL | Logo */

	a.logo {
		margin-left: 5%; /**/
	}

	/* UNIVERSAL | Nav */

	div.nav {
		margin-left: 58%; /**/
	}

	/* UNIVERSAL | Footer */

	div.footer {
		padding-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	/* UNIVERSAL | Text */

	div.landing > p.landing-title {
		top: 320px; /**/
		font-size: 64px; /**/
	}

	p.headers, p.text {
		width: 60%; /**/
		margin-left: 20%; /**/
		margin-right: 20%; /**/
	}

	p.problems {
		width: 60%; /**/
		margin-left: 20%; /**/
		margin-right: 20%; /**/
	}

	/* HOME */

	div.greeting-frame {
		width: 90%; /**/
		margin-left: 5%; /**/
		transform: translateX(0%); /**/
		margin-top: 250px; /**/
		margin-bottom: 200px; /**/
	} 

	/* HOME | Images */

	div.projects-frame > a.thumbnail-frame {
		width: 90%; /**/
		margin-left: 5%; /**/
		transform: translateX(0%); /**/
		margin-bottom: 100px; /**/
	}

	/* ABOUT */

	/* ABOUT | Text */

	p.quote {
		font-size: 28px; /**/
		line-height: 44px; /**/
	}

	/* ABOUT | Images */

	img.me-netflix {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
	}

	img.good-boy {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
	}

	/* MINDFULL */

	/* MINDFULL | Images */

	div.mindfull-imgs-2 > img.mindfull-img {
		margin-top: 90px; /**/
	}

	/* STARBUCKS */

	/* STARBUCKS | Images */

	img.starbucks-comparison {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-top: 50px; /**/
		margin-bottom: 20px; /**/
	}

	/* UI */

	/* UI | Images */

	div.content-ui > div.gallery img{
		width: 20%;
		margin-left: 4%;
		margin-bottom: 4%;
	}

	div.content-ui > div.gallery img:hover {
		box-shadow: none;
	}

	/* POSTERS */

	/* POSTERS | Images */

	div.content-posters > div.gallery img{
		width: 40%; /**/
		margin-left: 6.66666%; /**/
		margin-bottom: 6.66666%; /**/
		transition: none; /**/
	}

	div.content-posters > div.gallery img:hover {
		opacity: 1; /**/
	}

	/* CONTACT */

	/* CONTACT | Skeleton */
	
	div.content-contact > div.footer {
		position: absolute; /**/
		top: 95%; /**/
		left: 0; /**/
		height: 5%; /**/
		padding-top: 30px; /**/
		margin-bottom: 0px; /**/
	}

	/* CONTACT | Text */

	a.social-links {
		margin-left: 20%; /**/
	}

}

/* QUERIES | Tablet Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {

	/* UNIVERSAL */

	/* UNIVERSAL | Logo */

	a.logo {
		margin-left: 5%; /**/
	}

	/* UNIVERSAL | Nav */

	div.nav {
		margin-left: 70%; /**/
	}

	/* UNIVERSAL | Footer */

	div.footer {
		padding-top: 30px; /**/
		margin-bottom: 30px; /**/
	}

	/* UNIVERSAL | Text */

	div.landing > p.landing-title {
		top: 320px; /**/
		font-size: 64px; /**/
	}

	p.headers, p.text {
		width: 60%; /**/
		margin-left: 20%; /**/
		margin-right: 20%; /**/
	}

	p.problems {
		width: 60%; /**/
		margin-left: 20%; /**/
		margin-right: 20%; /**/
	}

	/* HOME */

	div.greeting-frame {
		width: 90%; /**/
		margin-left: 5%; /**/
		transform: translateX(0%); /**/
		margin-top: 250px; /**/
		margin-bottom: 200px; /**/
	} 

	/* HOME | Images */

	div.projects-frame > a.thumbnail-frame {
		width: 90%; /**/
		margin-left: 5%; /**/
		transform: translateX(0%); /**/
		margin-bottom: 100px; /**/
	}

	/* ABOUT */

	/* ABOUT | Text */

	p.quote {
		font-size: 28px; /**/
		line-height: 44px; /**/
	}

	/* ABOUT | Images */

	img.me-netflix {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
	}

	img.good-boy {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
	}

	/* MINDFULL */

	/* MINDFULL | Images */

	div.mindfull-imgs-2 > img.mindfull-img {
		margin-top: 115px; /**/
	}

	/* STARBUCKS */

	/* STARBUCKS | Images */

	img.starbucks-comparison {
		width: 100%; /**/
		margin-left: 0%; /**/
		margin-right: 0%; /**/
		margin-top: 50px; /**/
		margin-bottom: 20px; /**/
	}

	/* UI */

	/* UI | Images */

	div.content-ui > div.gallery img{
		width: 20%;
		margin-left: 4%;
		margin-bottom: 4%;
	}

	div.content-ui > div.gallery img:hover {
		box-shadow: none;
	}

	/* POSTERS */

	/* POSTERS | Images */

	div.content-posters > div.gallery img{
		width: 40%; /**/
		margin-left: 6.66666%; /**/
		margin-bottom: 6.66666%; /**/
		transition: none; /**/
	}

	div.content-posters > div.gallery img:hover {
		opacity: 1; /**/
	}

	/* CONTACT */

	/* CONTACT | Text */

	a.social-links {
		margin-left: 20%; /**/
	}

}

/****************************************************************************************************************************************************************************/

/* FONTS */

body {
    font-family: WorkSans-Light;
	color: #5b5b5b;
}

a.logo {
    font-family: WorkSans-Bold;
	color: #5b5b5b;
}

a.nav-item {
    font-family: WorkSans-Regular;
	color: #5b5b5b;
	transition: color 0.3s;
	text-transform: uppercase;
}

a.nav-item:hover {
	color: #243EFF;
}

a.burger-item {
    font-family: WorkSans-Medium;
	color: #5b5b5b;
	text-transform: uppercase;
}

a.burger-item:hover {
	color: #243EFF;
}

a.text-link {
	color: #243EFF;
	text-decoration: none;
	transition: color 0.3s;
}

a.text-link:hover {
	color: #5b5b5b;
}

a.my-email {
	text-decoration: none;
	color: #243EFF;
}

a.my-email:hover {
	color: #5b5b5b;
}

a.social-links {
	width: 90px;
    font-family: WorkSans-Regular;
	transition: color 0.3s;
	color: #243EFF;
	text-transform: uppercase;
}

a.social-links:hover {
	color: #5b5b5b;
}

p.headers {
    font-family: WorkSans-Medium;
}

p.text {
    font-family: WorkSans-Light;
	color: #5b5b5b;
}

p.problems {
    font-family: WorkSans-Medium;
	color: #5b5b5b;
}

p.quote {
    font-family: WorkSans-Regular;
	color: #5b5b5b;
	font-style: italic;
}

p.home-text {
    font-family: WorkSans-Medium;
}

span.gradient-highlight {
    background: -webkit-linear-gradient(#00d2ff, #3a7bd5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div.projects-frame p.thumbnail-caption {
    font-family: WorkSans-Regular;
	color: #5b5b5b;
}

p.landing-title {
    font-family: WorkSans-Medium;
}

p.social-header {
    font-family: WorkSans-Medium;
}

p.legal {
    font-family: WorkSans-Thin;
}

@font-face {
    font-family: WorkSans-HairLine;
    src: url(../fonts/work_sans/WorkSans-Hairline.otf);
} 

@font-face {
    font-family: WorkSans-Thin;
    src: url(../fonts/work_sans/WorkSans-Thin.otf);
} 

@font-face {
    font-family: WorkSans-ExtraLight;
    src: url(../fonts/work_sans/WorkSans-ExtraLight.otf);
} 

@font-face {
    font-family: WorkSans-Light;
    src: url(../fonts/work_sans/WorkSans-Light.otf);
} 

@font-face {
    font-family: WorkSans-Regular;
    src: url(../fonts/work_sans/WorkSans-Regular.otf);
} 

@font-face {
    font-family: WorkSans-Medium;
    src: url(../fonts/work_sans/WorkSans-Medium.otf);
}

@font-face {
    font-family: WorkSans-Bold;
    src: url(../fonts/work_sans/WorkSans-Bold.otf);
} 

@font-face {
    font-family: WorkSans-ExtraBold;
    src: url(../fonts/work_sans/WorkSans-ExtraBold.otf);
} 

@font-face {
    font-family: WorkSans-Black;
    src: url(../fonts/work_sans/WorkSans-Black.otf);
} 

