/*
Error: Undefined variable: "$padding__none".
        on line 15 of scss/about.scss

10: // Copy
11: // ====
12: 
13: article.copy {
14: 
15:   margin: $padding__none $padding__large;
16:   margin-top: $spacing__large;
17: 
18:   @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
19: 
20:     margin: $padding__none $padding__small;

Backtrace:
scss/about.scss:15
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `map'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `_perform'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/Users/yeheonshin/.rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$padding__none\".\A         on line 15 of scss/about.scss\A \A 10: // Copy\A 11: // ====\A 12: \A 13: article.copy {\A 14: \A 15:   margin: $padding__none $padding__large;\A 16:   margin-top: $spacing__large;\A 17: \A 18:   @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {\A 19: \A 20:     margin: $padding__none $padding__small;"; }
