section.hero {
  background-color: #F8F8F8;
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/home/dots.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  section.hero h1 {
    z-index: 100;
    width: 100%;
    max-width: 1280px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: LibreBaskerville-Regular;
    font-size: 72px;
    color: #111;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 180px;
    overflow: hidden; }
    section.hero h1 span {
      float: left;
      animation-name: slideUp;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-delay: 0s;
      -webkit-animation-fill-mode: forwards;
      margin-top: 100%; }
    section.hero h1 a {
      text-decoration: underline;
      color: #111; }
  section.hero img.circles {
    top: 0;
    height: 100vh;
    display: block;
    margin: auto;
    animation-name: fadeIn;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    opacity: 0; }

section.projects {
  max-width: 1280px;
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  section.projects article {
    margin-top: 80px;
    position: relative; }
    section.projects article a .text {
      position: absolute;
      width: 562px;
      margin: 0;
      top: 50%;
      left: 28%;
      transform: translate(-50%, -50%);
      height: 180px;
      overflow: hidden;
      animation-name: slideUpThumbnailText;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-delay: 0s;
      -webkit-animation-fill-mode: forwards; }
      section.projects article a .text p.project-company {
        font-family: OverpassMono-Regular;
        font-size: 12px;
        line-height: 24px;
        color: #111;
        opacity: 50%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 24px; }
      section.projects article a .text p.project-name {
        font-family: OverpassMono-SemiBold;
        font-size: 48px;
        line-height: 74px;
        color: #111;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 16px; }
      section.projects article a .text p.project-description {
        font-family: OverpassMono-Regular;
        font-size: 16px;
        line-height: 24px;
        color: #111;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased; }
    section.projects article img {
      width: 100%;
      height: auto; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slideUp {
  0% {
    margin-top: 100%;
    height: 300%; }
  100% {
    margin-top: 0%;
    height: 100%; } }
@keyframes slideUpThumbnailText {
  0% {
    margin-top: 100%;
    height: 300%; }
  100% {
    margin-top: 0%;
    height: 100%; } }

/*# sourceMappingURL=home.css.map */
