


// =================
// Brandon Grotesque
// =================

@font-face {
    font-family: BG-Black;
    src: url(../fonts/bg-font/Brandon_blk.otf);
}

@font-face {
    font-family: BG-Bold;
    src: url(../fonts/bg-font/Brandon_bld.otf);
}

@font-face {
    font-family: BG-Med;
    src: url(../fonts/bg-font/Brandon_med.otf);
}

@font-face {
    font-family: BG-MedIt;
    src: url(../fonts/bg-font/Brandon_med_it.otf);
}

@font-face {
    font-family: BG-Reg;
    src: url(../fonts/bg-font/Brandon_reg.otf);
}

@font-face {
    font-family: BG-Light;
    src: url(../fonts/bg-font/Brandon_light.otf);
}

@font-face {
    font-family: BG-Thin;
    src: url(../fonts/bg-font/Brandon_thin.otf);
}



// ============
// Crimson Text
// ============

@font-face {
    font-family: C-Bold;
    src: url(../fonts/crimson-font/CrimsonText-Bold.ttf);
}

@font-face {
    font-family: C-BoldIt;
    src: url(../fonts/crimson-font/CrimsonText-BoldItalic.ttf);
}

@font-face {
    font-family: C-SemiBold;
    src: url(../fonts/crimson-font/CrimsonText-SemiBold.ttf);
}

@font-face {
    font-family: C-SemiBoldIt;
    src: url(../fonts/crimson-font/CrimsonText-SemiBoldIt.ttf);
}

@font-face {
    font-family: C-Regular;
    src: url(../fonts/crimson-font/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: C-It;
    src: url(../fonts/crimson-font/CrimsonText-Italic.ttf);
}
