


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
    color: black;
    background: white;
}

*::selection {
  color: black;
  background: white;
}

body {
  overflow-x: none;
}
