


// =======
// Spacing
// =======

$padding__small: 6%;
$padding__medium: 20%;
$padding__large: 30%;
$padding__none: 0%;


// ======
// Sizing
// ======

$height__small: 8px;
$height__flexible__small: 2em;
$height__flexible__medium: 5em;
$height__flexible__large: 7em;
$height__large: 7em;

$width__half: 50%;
$width__max: 1440px;

// ==========
// Typography
// ==========

// Font Sizes
$font-size__small: 16px;
$font-size__body: 20px;
$font-size__body-large: 28px;
$font-size__sub-header: 36px;
$font-size__x-large: 80px;

// Line Height
$line-height__body: 170%;
$line-height__body__small: 140%;



// ======
// Colors
// ======

$black: #111;
$black__opacity: rgba(17, 17, 17, 0.8);
$white: #fff;
$dark-gray: #222;
$inline__link: #37D6EC;
$inline__link__hover: #248E9C;
$light-gray: #CFCFCF;


// ===========
// Box-Shadows
// ===========

$light-shadow: 0px 16px 24px 0px rgba(17, 17, 17, 0.24);
$heavy-shadow: 0px 40px 40px 0px rgba(17, 17, 17, 0.80);

// ===========
// Breakpoints
// ===========

$breakpoint__extra-large: 1921px;
$breakpoint__large: 1024px;
$breakpoint__medium: 768px;
$breakpoint__small: 320px;
