


// =======
// Padding
// =======

$padding__none: 0%;
$padding__small: 4%;
$padding__medium: 20%;
$padding__large: 30%;



// =======
// Margins
// =======

$spacing__extra-small: 8px;
$spacing__small: 16px;
$spacing__medium: 40px;
$spacing__large: 120px;



// ======
// Height
// ======

$height__flexible__small: 2em;
$height__flexible__medium: 5em;
$height__flexible__large: 7em;



// =====
// Width
// =====

$width__half: 50%;
$width__max: 1440px;



// ==========
// Typography
// ==========

// Font Sizes

$font-size__small: 16px;         // $font-size__extra-small
$font-size__body: 20px;          // $font-size__small
$font-size__body-large: 28px;    // $font-size__medium
$font-size__sub-header: 36px;    // $font-size__large
$font-size__x-large: 80px;       // $font-size__extra-large

// Line Height

$line-height__body: 170%;
$line-height__body__small: 140%;



// ======
// Colors
// ======

$black: #111;
$black__transparent: rgba(17, 17, 17, 0.8);
$white: #fff;
$gray__dark: #222;
$gray__light: #CFCFCF;
$blue: #3884F8;
$blue__transparent: rgba(56, 132, 248, 0.4);



// ===========
// Box-Shadows
// ===========

$light-shadow: 0px 16px 24px 0px rgba(17, 17, 17, 0.24);
$heavy-shadow: 0px 40px 40px 0px rgba(17, 17, 17, 0.80);



// ===========
// Breakpoints
// ===========

$breakpoint__extra-large: 1921px;
$breakpoint__large: 1024px;
$breakpoint__medium: 768px;
$breakpoint__small: 320px;
