


@import 'reset';
@import 'fonts';
@import 'variables';



// =========
// Universal
// =========

body {
  background-color: $black;
}

a.inline__link {
  display: inline-block;
  color: $inline__link;
  border-bottom: solid 1px rgba(55, 214, 236, 0.24);
  transition: color 0.2s, border-bottom 0.2s;
}

a.inline__link:hover {
  color: $inline__link__hover;
  border-bottom: solid 1px rgba(36, 142, 156, 0.24);
}

// ==========
// Extensions
// ==========

%nav-base {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: $height__large;
  align-items: center;
}

%footer-base {
  box-sizing: border-box;
  height: $height__large;
}

// ======
// Header
// ======

header {
  @extend %nav-base;

  a {
    font-family: tt-bold;
    font-size: $font-size__small;
    color: $white;
    transition: color 0.2s;
  }

  a:hover {
    color: $light-gray;
  }

  li {
    display: block;
    float: right;

    a {
      margin-left: 24px;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        margin-left: 16px;

      }

    }

  }

  @media only screen and (min-width: $breakpoint__extra-large)   {

    margin-right: auto;
    margin-left: auto;
    width: $width__max;

  }

  @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {

    margin-right: $padding__medium;
    margin-left: $padding__medium;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    margin-right: $padding__small;
    margin-left: $padding__small;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    height: $height__flexible__medium;

  }

}

// ======
// Footer
// ======

footer {
  @extend %footer-base;

  margin: $padding__none $padding__medium;
  margin-bottom: $height__flexible__small;
  margin-top: $height__flexible__large * 2;

  h2 {
    color: $white;
    font-family: tt-bold;
    font-size: $font-size__sub-header;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body-large;

    }

  }

  a {
    font-family: tt-bold;
    font-size: $font-size__small;
    color: $white;
    transition: color 0.2s;
  }

  a:hover {
    color: $light-gray;
  }

  li {
    margin-top: $height__flexible__small;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      margin-top: $height__small * 2;

    }

    a {
      margin-right: 16px;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        display: inline-block;
        margin-right: 12px;
        margin-bottom: 8px;

      }
    }
  }

  @media only screen and (min-width: $breakpoint__extra-large)   {

    margin-right: auto;
    margin-left: auto;
    width: $width__max;

  }

  @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {

    margin-right: $padding__medium;
    margin-left: $padding__medium;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    margin-right: $padding__small;
    margin-left: $padding__small;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin-top: $height__flexible__large;

  }

}
