


@import 'base';



// =======
// Content
// =======

section {

  margin: $padding__none $padding__medium;
  margin-top: $height__large * 2.5;

  h1 {
    color: $white;
    font-family: tt-bold;
    font-size: $font-size__x-large;
    margin-bottom: $height__flexible__medium;

    @media only screen and (min-width: $breakpoint__extra-large)   {

      margin-right: $padding__medium;

    }

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body-large * 1.1;
      margin-bottom: $height__flexible__small;

    }

    a {
      display: inline-block;
      color: $inline__link;
      border-bottom: solid 1px rgba(55, 214, 236, 0.24);
      transition: color 0.2s, border-bottom 0.2s;
    }

    a:hover {
      color: $inline__link__hover;
      border-bottom: solid 1px rgba(36, 142, 156, 0.24)
    }
  }


  @media only screen and (min-width: $breakpoint__extra-large)   {

    margin-right: auto;
    margin-left: auto;
    width: $width__max;

  }

  @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {

    margin-right: $padding__medium;
    margin-left: $padding__medium;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    margin-right: $padding__small;
    margin-left: $padding__small;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin-top: $height__large;

  }

  div.project {

    margin-bottom: $height__flexible__large;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      margin-bottom: $height__flexible__small;

    }

    a.project__thumbnail {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: $height__small * 3;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        margin-bottom: $height__small * 2;

      }

      div.project-type-pill {
        position: relative;
        top: $height__flexible__small * 2;
        left: $height__flexible__small * 0.7;
        border-radius: 4px;
        display: inline-block;
        z-index: 100;
        background-color: $black__opacity;
        padding: 12px 24px;
        box-shadow: $light-shadow;

        @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

          top: $height__flexible__small * 1.6;
          left: $height__flexible__small * 0.4;
          padding: 8px 16px;

        }

        p {
          color: $white;
          font-family: tt-bold;
          font-size: $font-size__small;
        }
      }

      img {
        width: 100%;
        height: auto;
        transition: filter 0.2s;
      }

      img:hover {
        filter: brightness(0.4);
      }

    }

    h2 {
      color: $white;
      font-family: tt-bold;
      font-size: $font-size__sub-header;
      margin-bottom: $height__small * 2;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        font-size: $font-size__body-large;
        margin-bottom: $height__small;

      }

    }

    p {
      color: $light-gray;
      font-family: tt-medium;
      font-size: $font-size__body;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        font-size: $font-size__small;
        line-height: $line-height__body__small;

      }

    }
  }
}
