


@import 'base';



// ====
// Container
// ====

div.home {

  section.hero {

    margin-top: 210px;
    width: 100%;
    margin-bottom: 50px;

    // 768px - iPad
    @media only screen and (max-width: $second-break) {
      margin-top: 160px;
    }

    h1 {
      font-family: BG-Reg, Helvetica, Sans-Serif;
      font-size: $hero-large-font;
      width: 700px;
      letter-spacing: $tight-kern;

      // 768px - iPad
      @media only screen and (max-width: $second-break)   {
        width: 100%;
        font-size: $hero-medium-font;
        line-height: 48px;
      }

    }

    p {
      font-family: BG-Med, Helvetica, Sans-Serif;
      font-size: $hero-small-font;
      margin-top: 20px;
      color: #B6B6B6;
      letter-spacing: $tight-kern;

      // 768px - iPad
      @media only screen and (max-width: $second-break)   {
        width: 100%;
        font-size: $hero-extra-small-font;
      }

      a {
        font-family: BG-Bold, Helvetica, Sans-Serif;
        letter-spacing: $tight-kern;
      }

    }

  }



  // Project Cards

  %project-card {
    width: 450px;
    height: 500px;
    margin-top: 100px;
    box-shadow: $bs-card;
    float: left;
    position: relative;
    top: 0;
  }

  %thumbnail-bg {
    width: 450px;
    height: 300px;
    overflow: hidden;
  }

  %overlay {
    font-family: BG-Bold, Helvetica, Sans-Serif;
    font-size: $project-type-font;
    text-transform: uppercase;
    letter-spacing: 1.71px;
    color: white;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    top: 141px;
    opacity: 0;
  }

  section.project-wrapper {

    width: 100%;
    height: auto;

    div.col-2 {

      width: 100%;
      height: auto;

      a.project-card {

        @extend %project-card;

        // 1040px - First Break
        @media only screen and (max-width: $first-break)   {
          width: 350px;
          height: 455px;
        }

        // 767px - Second Break
        @media only screen and (max-width: $second-break)   {
          width: 100%;
          height: auto;
          margin-top: 50px;
        }

        span.overlay {
          @extend %overlay;

          // 1040px - First Break
          @media only screen and (max-width: $first-break)   {
            top: 104px;
          }

        }

        div.thumbnail-bg {

          @extend %thumbnail-bg;

          // 1040px - First Break
          @media only screen and (max-width: $first-break)   {
            width: 350px;
            height: 226px;
          }

          // 767px - Second Break
          @media only screen and (max-width: $second-break)   {
            width: 100%;
            height: 226px;
          }

        }

        img {

          width: 100%;
          height: auto;

          // 767px - Second Break
          @media only screen and (max-width: $second-break)   {
            width: 339px;
            height: 226px;
            margin-left: 50%;
            transform: translateX(-50%);
          }

        }

        p {

          color: $black;
          margin-left: 20px;
          width: 410px;

          // 1040px - First Break
          @media only screen and (max-width: $first-break)   {
            width: 320px;
          }

        }

        p.type {

          font-size: $project-type-font;
          font-family: BG-Bold, Helvetica, Sans-Serif;
          text-transform: uppercase;
          opacity: 0.5;
          margin-top: 30px;
          letter-spacing: 1.71px;

          // 767px - Second Break
          @media only screen and (max-width: $second-break)   {
            font-size: $project-type-font - 2px;
          }

          span.project-tag {
            opacity: 0.5;
            font-size: $project-type-font - 4px;
          }

        }

        p.title {

          font-size: $project-title-font;
          font-family: BG-Bold, Helvetica, Sans-Serif;
          margin-top: 15px;

          // 767px - Second Break
          @media only screen and (max-width: $second-break)   {
            font-size: $project-title-font - 4px;
          }

        }

        p.info {

          font-size: $project-info-font;
          font-family: C-Regular, Georgia, Serif;
          opacity: 0.5;

          // 767px - Second Break
          @media only screen and (max-width: $second-break)   {
            font-size: $project-info-font - 2px;
            width: 90%;
            margin-bottom: 30px;
          }

        }

      }

      a.posters {
        span.overlay {
          color: #111111;
        }
      }

      a.venmo, a.mindfull, a.posters {
        margin-right: 60px;

        // 1040px - First Break
        @media only screen and (max-width: $first-break)   {
          margin-right: 20px;
        }

        // 767px - Second Break
        @media only screen and (max-width: $second-break)   {
          margin-right: 0;
        }

      }

      a.venmo {

        div.overlay, div.thumbnail-bg {
          background-color: $venmo-blue;
        }

      }

      a.meetup-groups {

        div.overlay, div.thumbnail-bg {
          background-color: $meetup-peach;
        }

      }

      a.mindfull {

        div.overlay, div.thumbnail-bg {
          background-color: $mindfull-blue;
        }

      }

      a.starbucks {

        div.overlay, div.thumbnail-bg {
          background-color: $starbucks-green;
        }

      }

      a.posters {

        div.overlay, div.thumbnail-bg {
          background-color: $poster-gray;
        }

        div.overlay {

          p {
            color: $black;
          }

        }

      }

      a.dropmark {

        div.overlay, div.thumbnail-bg {
          background-color: $dropmark-teal;
        }

      }

    }

  }








}
