* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*::selection {
  color: #111;
  background: #fff; }

::-moz-selection {
  color: #111;
  background: #fff; }

body {
  overflow-x: none; }

@font-face {
  font-family: tt-black;
  src: url(../fonts/tt/TTNorms-Black.otf); }
@font-face {
  font-family: tt-blackItalic;
  src: url(../fonts/tt/TTNorms-BlackItalic.otf); }
@font-face {
  font-family: tt-heavy;
  src: url(../fonts/tt/TTNorms-Heavy.otf); }
@font-face {
  font-family: tt-heavyItalic;
  src: url(../fonts/tt/TTNorms-HeavyItalic.otf); }
@font-face {
  font-family: tt-extraBold;
  src: url(../fonts/tt/TTNorms-ExtraBold.otf); }
@font-face {
  font-family: tt-extraBoldItalix;
  src: url(../fonts/tt/TTNorms-ExtraBoldItalic.otf); }
@font-face {
  font-family: tt-bold;
  src: url(../fonts/tt/TTNorms-Bold.otf); }
@font-face {
  font-family: tt-boldItalic;
  src: url(../fonts/tt/TTNorms-BoldItalic.otf); }
@font-face {
  font-family: tt-medium;
  src: url(../fonts/tt/TTNorms-Medium.otf); }
@font-face {
  font-family: tt-mediumItalic;
  src: url(../fonts/tt/TTNorms-MediumItalic.otf); }
@font-face {
  font-family: tt-regular;
  src: url(../fonts/tt/TTNorms-Regular.otf); }
@font-face {
  font-family: tt-regularItalic;
  src: url(../fonts/tt/TTNorms-RegularItalic.otf); }
@font-face {
  font-family: tt-light;
  src: url(../fonts/tt/TTNorms-Light.otf); }
@font-face {
  font-family: tt-lightItalic;
  src: url(../fonts/tt/TTNorms-LightItalic.otf); }
@font-face {
  font-family: tt-extraLight;
  src: url(../fonts/tt/TTNorms-ExtraLight.otf); }
@font-face {
  font-family: tt-extraLightItalic;
  src: url(../fonts/tt/TTNorms-ExtraLightItalic.otf); }
@font-face {
  font-family: tt-thin;
  src: url(../fonts/tt/TTNorms-Thin.otf); }
@font-face {
  font-family: tt-thinItalic;
  src: url(../fonts/tt/TTNorms-ThinItalic.otf); }
body {
  background-color: #111; }

a.inline__link {
  color: #3884F8;
  border-bottom: solid 1px rgba(56, 132, 248, 0.4);
  transition: color 0.2s, border-bottom 0.2s; }

a.inline__link:hover {
  color: #CFCFCF;
  border-bottom: solid 1px #111; }

header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center; }

footer {
  height: 120px; }

header a {
  font-family: tt-bold;
  font-size: 16px;
  color: #fff;
  transition: color 0.1s; }
header a:hover {
  color: #CFCFCF; }
header li {
  display: block;
  float: right; }
  header li a {
    margin-left: 24px; }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      header li a {
        margin-left: 16px; } }
@media only screen and (min-width: 1921px) {
  header {
    margin-right: auto;
    margin-left: auto;
    width: 1440px; } }
@media screen and (min-width: 1024px) and (max-width: 1921px) {
  header {
    margin-right: 20%;
    margin-left: 20%; } }
@media screen and (min-width: 320px) and (max-width: 1024px) {
  header {
    margin-right: 4%;
    margin-left: 4%; } }
@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    height: 100px; } }

footer {
  margin: 0% 20%;
  margin-bottom: 2em;
  margin-top: 240px; }
  footer h2 {
    color: #fff;
    font-family: tt-bold;
    font-size: 36px; }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      footer h2 {
        font-size: 28px; } }
  footer a {
    font-family: tt-bold;
    font-size: 16px;
    color: #fff;
    transition: color 0.1s; }
  footer a:hover {
    color: #CFCFCF; }
  footer li {
    margin-top: 40px; }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      footer li {
        margin-top: 24px; } }
    footer li a {
      margin-right: 16px; }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        footer li a {
          display: inline-block;
          margin-right: 12px;
          margin-bottom: 8px; } }
  @media only screen and (min-width: 1921px) {
    footer {
      margin-right: auto;
      margin-left: auto;
      width: 1440px; } }
  @media screen and (min-width: 1024px) and (max-width: 1921px) {
    footer {
      margin-right: 20%;
      margin-left: 20%; } }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    footer {
      margin-right: 4%;
      margin-left: 4%; } }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    footer {
      margin-top: 120px; } }

/*# sourceMappingURL=base.css.map */
