


// ================
// LibreBaskerville
// ================

@font-face {
    font-family: lb-bold;
    src: url(../fonts/lb/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: lb-regular;
    src: url(../fonts/lb/LibreBaskerville-Regular.ttf);
}



// =============
// Overpass Mono
// =============

@font-face {
    font-family: om-bold;
    src: url(../fonts/om/OverpassMono-Bold.ttf);
}

@font-face {
    font-family: om-semibold;
    src: url(../fonts/lb/OverpassMono-SemiBold.ttf);
}

@font-face {
    font-family: om-regular;
    src: url(../fonts/lb/OverpassMono-Regular.ttf);
}

@font-face {
    font-family: om-light;
    src: url(../fonts/lb/OverpassMono-Light.ttf);
}