


// ================
// LibreBaskerville
// ================

@font-face {
    font-family: LibreBaskerville-Bold;
    src: url(../fonts/lb/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: LibreBaskerville-Regular;
    src: url(../fonts/lb/LibreBaskerville-Regular.ttf);
}



// =============
// Overpass Mono
// =============

@font-face {
    font-family: OverpassMono-Bold;
    src: url(../fonts/om/OverpassMono-Bold.ttf);
}

@font-face {
    font-family: OverpassMono-SemiBold;
    src: url(../fonts/lb/OverpassMono-SemiBold.ttf);
}

@font-face {
    font-family: OverpassMono-Regular;
    src: url(../fonts/lb/OverpassMono-Regular.ttf);
}

@font-face {
    font-family: OverpassMono-Light;
    src: url(../fonts/lb/OverpassMono-Light.ttf);
}