


@import 'base';




// ====
// Copy
// ====

article.copy {

  margin: $padding__none $padding__large;
  margin-top: $spacing__large;

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin: $padding__none $padding__small;
    margin-top: $spacing__medium * 2;

  }

  p.large {
    color: $gray__light;
    font-family: tt-medium;
    font-size: $font-size__body-large;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body;

    }

  }

  img {
    width: 100%;
    height: auto;
  }

}

article.timeline {

  margin: $padding__none $padding__large;
  margin-top: $spacing__large;

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin: $padding__none $padding__small;
    margin-top: $spacing__medium * 2;

  }

  h2 {
    color: $white;
    font-family: tt-bold;
    font-size: $font-size__sub-header;
    margin-bottom: $spacing__medium;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body-large;

    }

  }

  ul {

    display: block;
    font-size: $font-size__body;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__small;

    }

    li {

      display: flex;
      justify-content: space-between;
      margin-top: $spacing__small * 2;

      span.left {
        color: $white;
        font-family: tt-bold;
      }

      span.right {
        color: $gray__light;
        font-family: tt-medium;
        text-align: right;
      }

    }

    span.bottom {
      display: inline-block;
      color: $gray__light;
      font-family: tt-medium;
      margin-top: $spacing__extra-small * 1.5;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        margin-top: $spacing__extra-small;

      }

    }

  }

}

article.faq {

  margin: $padding__none $padding__large;
  margin-top: $spacing__large;

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin: $padding__none $padding__small;
    margin-top: $spacing__medium * 2;

  }

  h2 {
    color: $white;
    font-family: tt-bold;
    font-size: $font-size__sub-header;
    margin-bottom: $spacing__medium;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body-large;

    }

  }

  p.question {
    color: $white;
    font-family: tt-bold;
    font-size: $font-size__body;
    margin-bottom: $spacing__small;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__small;
      margin-bottom: $spacing__extra-small;

    }
  }

  p.answer {
    color: $gray__light;
    font-family: tt-medium;
    font-size: $font-size__body;
    margin-bottom: $spacing__medium;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__small;
      margin-bottom: $spacing__small * 2;
      line-height: $line-height__body__small;

    }
  }

}



// ======
// Assets
// ======

// Images

section.col-1 {
  display: block;
  margin: $padding__none $padding__medium;
  margin-top: $height__flexible__large;

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin: $padding__none $padding__small;
    margin-top: $height__flexible__medium;

  }

  img {
    display: inline-block;
    width: 100%;
    height: auto;
  }

}
