


@import 'reset';
@import 'fonts';
@import 'variables';



// ======
// Footer
// ======

footer {

    background-color: $black;
    color: $white;

    margin-top: 80px;

    padding-top: 80px;
    padding-bottom: 40px;

    clear: both;

    // Breakpoints

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

        padding-left: 80px;
        padding-right: 80px;

    }

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
        
        padding-top: 40px;
        padding-left: 16px;
        padding-right: 16px;

    }

    section {
        max-width: $max-width -  400px;
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-family: LibreBaskerville-Regular;
            font-size: $font-size__24; 
            margin-bottom: 24px;
            line-height: $line-height__30;

            @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                font-size: $font-size__22; 
        
            }
        }

        p {
            font-family: OverpassMono-Regular;
            line-height: $line-height__24;
        }

        a {
            font-family: OverpassMono-Regular;
            line-height: $line-height__24;
            color: $white;
            text-decoration: underline;
        }

        p.company {
            font-size: $font-size__18;
            line-height: 24px;

            @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                font-size: $font-size__16; 
        
            }
        }

        p.job, p.tenure, p.published {
            font-size: 14px;
            color: $gray2;

            @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                font-size: $font-size__12; 
        
            }
        }

        // Experience + Writing

        article.experience-writing {
            display: grid;  
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 7rem;
            margin-bottom: 7rem;

            //

            @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                grid-template-columns: repeat(1, auto);
                margin-bottom: 4rem;
        
            }
            
            // Experience 

            div.experience {

                @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                    margin-bottom: 40px;
            
                }

                div.role {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    margin-bottom: 16px;
    
                    p.company {
                        grid-column: 1 / span 2;
                    }
    
                    p.tenure {
                        text-align: right;
                    }
    
                }

            }

            // Writing

            div.writing {

                div.article {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
    
                    a.title {
                        grid-column: 1 / span 2;
                    }
    
                }

            }

        }

        // Social Icons + Last Updated

        article.social {
            text-align: center;

            @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
                
                text-align: left;
        
            }

            // Social Icons

            a {
                text-decoration: none;
            }
            
            img.social-icon {
                margin-right: 8px;
                margin-bottom: 40px;
            }

            #spotify {
                margin-right: 0px;
            }

            // Last Updated

            p {
                font-family: OverpassMono-Regular;
                font-size: $font-size__12;
                color: $gray2;
            }

        }

    }

} 


