


@import 'reset';
@import 'fonts';
@import 'variables';



// ======
// Header
// ======

header {

  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  a {
    font-family: OverpassMono-Bold;
    font-size: $font-size__20;
    color: $black;
  }

  a:hover {
    // color: $gray__light;
  }

  @media only screen and (min-width: $breakpoint__extra-large)   {

    // width: auto;

  }

  @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {

    // margin-right: $padding__medium;
    // margin-left: $padding__medium;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    // margin-right: $padding__small;
    // margin-left: $padding__small;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    // height: $spacing__medium * 2.5;

  }

}


