


@use 'base';
@use 'variables';



// =======
// Content
// =======

section {

  // margin: $padding__none;
  margin-top: $spacing__large * 2;

  h1 {
    color: $white;
    font-family: om-bold;
    font-size: $font-size__x-large;
    margin-bottom: $spacing__large * 2;

    @media only screen and (min-width: $breakpoint__extra-large)   {

      margin-right: $padding__medium;

    }

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      font-size: $font-size__body-large;
      margin-bottom: $spacing__large;

    }

    a {
      color: $blue;
      border-bottom: solid 1px $blue__transparent;
      transition: color 0.2s, border-bottom 0.2s;
    }

    a:hover {
      color: $white;
      border-bottom: solid 1px $black;
    }
  }


  @media only screen and (min-width: $breakpoint__extra-large)   {

    margin-right: auto;
    margin-left: auto;
    width: $width__max;

  }

  @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {

    margin-right: $padding__medium;
    margin-left: $padding__medium;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    margin-right: $padding__small;
    margin-left: $padding__small;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

    margin-top: $spacing__large;

  }

  div.project {

    margin-bottom: $spacing__large;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

      margin-bottom: $spacing__medium;

    }

    a.project__thumbnail {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: $spacing__extra-small * 3;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        margin-bottom: $spacing__extra-small * 1.5;

      }

      div.project-type-pill {
        position: relative;
        top: $spacing__small * 4;
        left: $spacing__small * 1.5;
        border-radius: 4px;
        display: inline-block;
        z-index: 100;
        background-color: $black__transparent;
        padding: 12px 24px;
        box-shadow: $light-shadow;

        @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

          top: $spacing__medium + $spacing__extra-small;
          left: $spacing__extra-small * 1.5;
          padding: 8px 16px;

        }

        p {
          color: $white;
          font-family: tt-bold;
          font-size: $font-size__small;
        }
      }

      img {
        width: 100%;
        height: auto;
        transition: filter 0.2s;
      }

      img:hover {
        filter: brightness(0.4);
      }

    }

    h2 {
      color: $white;
      font-family: tt-bold;
      font-size: $font-size__sub-header;
      margin-bottom: $spacing__small;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        font-size: $font-size__body-large;
        margin-bottom: $spacing__extra-small;

      }

    }

    p {
      color: $gray__light;
      font-family: tt-medium;
      font-size: $font-size__body;

      @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

        font-size: $font-size__small;
        line-height: $line-height__body__small;

      }

    }
  }
}
