


@import 'base';
@import 'variables';



// ====
// Hero
// ====

section.hero {
  background-color: $gray;
  height: 100vh;
  width: 100vw;

  h1 {
    
    // Layout

    z-index: 100;
    width: 100%;
    max-width: $max-width;
    // height: 400px;
    overflow: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 47%;
    transform: translateY(-53%);
    text-align: center;

    // Text Styles

    font-family: LibreBaskerville-Regular;
    font-size: $font-size__72;
    color: $black;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    span {
      opacity: 0;
      float: left;
      // margin-top: 100%;

      // animation-name: slideUp;
      animation-name: fadeIn; 
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }

    // Link Styles

    a {
      text-decoration: underline;
      color: $black;
    }

    // Breakpoints

    @media only screen and (min-width: $breakpoint__extra-large) {

      // background-color: red;
  
    }
  
    @media screen and (min-width: $breakpoint__large) and (max-width: $breakpoint__extra-large) {
  
      // background-color: blue;
  
    }
  
    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {
  
      // background-color: green;

      margin-left: 80px;
      margin-right: 80px;
      max-width: auto;
      width: auto;
  
    }
  
    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
      
      // background-color: yellow;

      margin-left: 16px;
      margin-right: 16px;

      font-size: $font-size__48;
      text-align: left;
  
    }

  }

  // Assets

  img.circles {
    top: 0;
    height: 100vh;
    display: block;
    margin: auto;
    // animation-name: fadeIn; 
    // animation-timing-function: ease;
    // animation-duration: 2s;
    // animation-delay: 0.5s;
    // animation-fill-mode: forwards;
    // -webkit-animation-fill-mode: forwards;
    opacity: 0;
    opacity: 1;

    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
      
      width: 100%;
      opacity: 0;
  
    }

  }

  background-image: url("/assets/images/home/dots.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



// ========
// Projects
// ========

section.projects {
  max-width: $max-width;
  width: $max-width;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  article {
    margin-top: 80px;
    position: relative;
  
    @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
    
      margin-top: 16px;
  
    }

    a {

      .text {
        display: block;
        position: absolute;
        opacity: 0;

        width: 562px;
        margin: 0;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        transition: 0.5s;

        // Breakpoints
      
        @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {
  
          top: 50%;
          left: 40px;
          transform: translate(0, -50%);
          width: auto;
      
        }
      
        @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {

          top: 50%;
          left: 16px;
          transform: translate(0, -50%);
      
        }

        p.project-company {
          font-family: OverpassMono-Regular;
          font-size: $font-size__12;
          line-height: $line-height__24;
          color: $black;
          opacity: 50%;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          margin-bottom: 24px;

          @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
  
            margin-bottom: 16px;
        
          }
        }
  
        p.project-name {
          font-family: OverpassMono-SemiBold;
          font-size: $font-size__48;
          line-height: $line-height__74;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          margin-bottom: 16px;

          @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
  
            font-size: $font-size__24;
            line-height: $line-height__24;
        
          }
        }
  
        p.project-description {
          font-family: OverpassMono-Regular;
          font-size: $font-size__16;
          line-height: $line-height__24;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;

          @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
  
            font-size: $font-size__14;
            line-height: $line-height__24;
            display: none;
        
          }
        }

      }

    }

    img.thumbnail-image {
      width: 100%;
      height: auto;
      transition: 0.5s;
    }

  }

  // Breakpoints

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {

    width: auto;
    margin-left: 80px;
    margin-right: 80px;

  }

  @media screen and (min-width: $breakpoint__small) and (max-width: $breakpoint__medium) {
    
    margin-left: 16px;
    margin-right: 16px;

  }
  
}



// Animation
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
  }

    100% {
      opacity: 1;    
    } 
  }

  @keyframes slideUp {
    0% {
      margin-top: 100%;
      height: 300%; 
    }
  
    100% {
      margin-top: 0%;
      height: 100%;
    }
  }

  @keyframes slideUpThumbnailText {
    0% {
      top: 100%;
      // height: 300%; 
    }
  
    100% {
      top: 50%;
      // height: 100%;
    }
  }








