


@import 'base';
@import 'variables';



// ====
// Hero
// ====

header {
  position: relative;
}

section.project-hero {

  max-width: $width__max;
  width: $width__max;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  h1 {
    
    // Layout

    margin-top: 80px;
    
    // Text Styles
  
    font-family: LibreBaskerville-Regular;
    font-size: $font-size__72;
    color: $black;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  
  }
  
  h2 {
  
    // Layout

    margin-top: 40px;
    
    // Text Styles
  
    font-family: LibreBaskerville-Regular;
    font-size: $font-size__24;
    color: $black;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  
  }

  img.thumbnail-image {
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

}



// ===============
// Project Content
// ===============

section.project-content {

  max-width: $width__max;
  width: $width__max;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $black;
    text-decoration: underline;
  }

  article.col-2 {

    div.col-left {

      width: 65%;
      float: left;

      div.content-block {

        margin-bottom: 80px;

        h1 {

          // Layout
      
          margin-bottom: 24px;
      
          // Text Styles
        
          font-family: LibreBaskerville-Regular;
          font-size: $font-size__24;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 30px;
      
          }
      
          p {
      
          // Layout
      
          margin-bottom: 24px;
          
          // Text Styles
        
          font-family: OverpassMono-Regular;
          font-size: $font-size__18;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 28px;
      
        }

      }

    }

    div.col-right {

      float: right;

      div.content-block {

        margin-bottom: 80px;

        h1 {

          // Layout
      
          margin-bottom: 24px;
      
          // Text Styles
        
          font-family: LibreBaskerville-Regular;
          font-size: $font-size__24;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 30px;

        }

        p {

          // Layout
      
          margin-bottom: 8px;
          
          // Text Styles
        
          font-family: OverpassMono-Regular;
          font-size: $font-size__18;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 28px;
          
        }

        a {

          // Layout
      
          margin-bottom: 8px;
          display: block;
          
          // Text Styles
        
          font-family: OverpassMono-Regular;
          font-size: $font-size__18;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 28px;
          text-decoration: underline;
          
        }

      }

    }

  }

  article.col-1 {

    clear: both;

    div.col-left {

      width: 65%;

      div.content-block {

        margin-bottom: 80px;

        h1 {
          // Layout
      
          margin-bottom: 24px;
      
          // Text Styles
        
          font-family: LibreBaskerville-Regular;
          font-size: $font-size__24;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 30px;
      
          }
      
          p {
      
          // Layout
      
          margin-bottom: 24px;
          
          // Text Styles
        
          font-family: OverpassMono-Regular;
          font-size: $font-size__18;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 28px;
      
        }

        ol.project-reasons {
          
          font-family: OverpassMono-Regular;
          font-size: $font-size__18;
          color: $black;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          line-height: 28px;
          margin-left: 32px;
          margin-top: 24px;
          
          li {
            
            list-style: decimal;
            display: list-item;
            list-style-position: outside;
            padding-left: 8px;
            margin-bottom: 24px;

          }

        }

      }

    }

  }

  article.col-2-asset {

    overflow: auto;
    margin-bottom: 80px;

    div.video-container-left {

      width: 47%;
      height: auto;
      background-color: $gray;
      padding: 80px;
      float: left;
      border-radius: 16px;
      display: block;
      position: relative;

      button.play-button {
        position: absolute;
        width: 80px;
        height: 80px;
        display: block;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 50%;

        background-color: transparent;
        color: none;
        z-index: 1000;
        cursor: pointer;

        font-size: 0;
        transition: 0.2s;
      }

      button.pause-button {
        position: absolute;
        width: 80px;
        height: 80px;
        display: block;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 50%;

        background-color: transparent;
        color: none;
        cursor: pointer;

        font-size: 0;
        transition: 0.2s;
        opacity: 0;
        z-index: 999;
      }

      div.video-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        z-index: 1;
        cursor: pointer;
        border-radius: 16px;    
        transition: 0.5s;    
        opacity: 0;
      }

      video {
        box-shadow: 0px 16px 40px 0px rgba($black, 0.2);
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: 0.5s;
      }

    }

    div.video-container-right {

      width: 47%;
      height: auto;
      background-color: $gray;
      padding: 80px;
      float: right;
      border-radius: 16px;
      display: block;
      position: relative;

      button.play-button {
        position: absolute;
        width: 80px;
        height: 80px;
        display: block;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 50%;

        background-color: transparent;
        color: none;
        z-index: 1000;
        cursor: pointer;

        font-size: 0;
        transition: 0.2s;
      }

      button.pause-button {
        position: absolute;
        width: 80px;
        height: 80px;
        display: block;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 50%;

        background-color: transparent;
        color: none;
        cursor: pointer;

        font-size: 0;
        transition: 0.2s;
        opacity: 0;
        z-index: 999;
      }

      div.video-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        z-index: 1;
        cursor: pointer;
        border-radius: 16px;    
        transition: 0.5s;    
        opacity: 0;
      }

      video {
        box-shadow: 0px 16px 40px 0px rgba($black, 0.2);
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: 0.5s;
      }

    }

  }

  article.col-1-asset {

    margin-bottom: 80px;

    div.col-left {

      div.content-block {

        img.project-image {

          width: 100%;
          height: auto;
          border-radius: 16px;

        }

      }

    }

  }

  article.project-links {

    margin-bottom: 80px;
    overflow: auto;
    display: block; 

    a.prev-project {

      display: inline-block;

      img#back-arrow {
        
        float: left;
        display: inline-block;
        margin-right: 16px;

      }

      p {

        float: right;
        display: inline-block;

        font-family: OverpassMono-Regular;
        font-size: $font-size__18;
        line-height: $line-height__24;
        color: $black;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

      }

    }

    a.next-project {

      display: inline-block;
      float: right;
      
      img#next-arrow {

        float: right;
        margin-left: 16px;

      }

      p {

        float: left;
        
        font-family: OverpassMono-Regular;
        font-size: $font-size__18;
        line-height: $line-height__24;
        color: $black;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

      }

    }

  }

}

